In [1]:
'''
캐글 링크

데이터셋 링크
문제풀이 유튜브 링크

작업 1유형
Attention

데이터 출처 : https://archive.ics.uci.edu/ml/datasets/Bank+Marketing (후처리 작업)
데이터 설명 : 은행의 전화 마케팅에 대해 고객의 반응 여부
dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv
'''
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
df.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y
0,13829,29,technician,single,tertiary,no,18254,no,no,cellular,11,may,2,-1,0,unknown,no
1,22677,26,services,single,secondary,no,512,yes,yes,unknown,5,jun,3,-1,0,unknown,no
2,10541,30,management,single,secondary,no,135,no,no,cellular,14,aug,2,-1,0,unknown,no
3,13689,41,technician,married,unknown,no,30,yes,no,cellular,10,jul,1,-1,0,unknown,no
4,11304,27,admin.,single,secondary,no,321,no,yes,unknown,2,sep,1,-1,0,unknown,no

In [2]:
# Question1
# 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는? (0~9 : 0 , 10~19 : 10)

In [43]:
def age_range(x):
    return int(x/10)

df["age2"] = df["age"].apply(age_range)
df["age"].apply(age_range).value_counts().sort_values(ascending=False).head(1).index[0]*10

30

In [44]:
# Question2
# 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 나이대 구간의 인원은 몇명인가?

In [48]:
df["age2"].value_counts().sort_values().tail(1).values[0]

5056

In [49]:
# Question3

# 나이가 25살 이상 29살 미만인 응답 고객들중 housing컬럼의 값이 yes인 고객의 수는?

In [57]:
(df.loc[((df["age"] >= 25) & (df["age"] < 29)) , "housing"].isin(["yes"])).sum()

504

In [ ]:
# Question4

# numeric한 값을 가지지 않은 컬럼들중 unique한 값을 가장 많이 가지는 컬럼은?

In [64]:
df.select_dtypes(include='object').apply(lambda x: len(x.unique())).sort_values().tail(1).index[0]

'month'

In [ ]:
# Question5

# balance 컬럼값들의 평균값 이상을 가지는 데이터를 ID값을 기준으로 내림차순 정렬했을때 상위 100개 데이터의 balance값의 평균은?

In [72]:
df.loc[df["balance"] >= df["balance"].mean()].sort_values(by="ID", ascending=False).head(100)["balance"].mean()

3473.73

In [ ]:
# Question6

# 가장 많은 광고를 집행했던 날짜는 언제인가? (데이터 그대로 일(숫자),달(영문)으로 표기)

In [91]:
d =  df.groupby(["day", "month"]).size().sort_values(ascending=False).to_frame("size")
d.index[0]

(15, 'may')

In [ ]:
# Question7
# 데이터의 job이 unknown 상태인 고객들의 age 컬럼 값의 정규성을 검정하고자 한다. 샤피로 검정의 p-value값을 구하여라 << --- 와 이거 좀 보긴해야하나봐
############# 정규성 검증 shapiro

In [108]:
from scipy.stats import shapiro
shapiro(df.loc[df["job"] == "unknown"]["age"]).pvalue

0.1961131989955902

In [109]:
#Question8

#age와 balance의 상관계수를 구하여라

In [111]:
corr= df.corr()
corr['age']['balance']

0.10198734763981472

In [112]:
# Question9
#y 변수와 education 변수는 독립인지 카이제곱검정을 통해 확인하려한다. p-value값을 출력하라  --- 와 이거 좀 보긴해야하나봐

In [127]:
v = pd.crosstab(df["y"], df["education"])

In [128]:
from scipy.stats import chi2_contingency
chi2, p, dof, expected =chi2_contingency(v)

In [130]:
chi2

133.87601246919445

In [131]:
p

7.901201277473551e-29

In [132]:
dof

3

In [133]:
expected

array([[1300.51592852, 4405.15182595, 2818.93745144,  378.39479409],
       [ 579.48407148, 1962.84817405, 1256.06254856,  168.60520591]])

In [ ]:
#Question10

#각 job에 따라 divorced/married 인원의 비율을 확인 했을 때 그 값이 가장 높은 값은?

In [142]:
df["marital"].value_counts()

married     7490
single      3905
divorced    1475
Name: marital, dtype: int64

In [143]:
def merry(df):
    s = len(df.loc[df["marital"] == "divorced"])
    m = len(df.loc[df["marital"] == "married"])

    return s/m

In [144]:
df.groupby("job").apply(merry).sort_values().tail(1)

job
unemployed    0.283105
dtype: float64

In [ ]:
'''
작업 2유형
Attention

데이터 출처 : https://archive.ics.uci.edu/ml/datasets/Bank+Marketing (후처리 작업)
데이터 설명 : 은행의 전화 마케팅에 대해 고객의 반응 여부
train : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv
test : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv
submission : https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv

import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
submission= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv')

display(train.head())
display(test.head())
display(submission.head())
'''