포켓몬 정보 데이터
Attention

- 데이터 출처 : https://www.kaggle.com/abcsds/pokemon (참고, 데이터 수정)
- 데이터 설명 : 포켓몬 정보
- data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [2]:
# 1. Legendary 컬럼은 전설포켓몬 유무를 나타낸다.전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라

In [13]:
df.groupby("Legendary")["HP"].mean()[True] - df.groupby("Legendary")["HP"].mean()[False]

25.55614861329147

In [3]:
# 2. Type 1은 주속성 Type 2 는 부속성을 나타낸다. 가장 많은 부속성 종류는 무엇인가?

In [15]:
df["Type 2"].value_counts().sort_values().tail(1)

Flying    97
Name: Type 2, dtype: int64

In [4]:
# 3. 가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?

In [20]:
df2 = df.loc[df["Type 1"] == df.sort_values(by="Type 1")["Type 1"].tail(1).values[0]]
df2["Attack"].mean() / df2["Defense"].mean()

1.0165238678090576

In [5]:
# 4. 포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?

In [29]:
df.groupby("Generation")["Legendary"].sum().sort_values().tail(1).index[0]

3

In [6]:
# 5. ‘HP’, ‘Attack’, ‘Defense’, ‘Sp. Atk’, ‘Sp. Def’, ‘Speed’ 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

In [65]:
corr = df[["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]].corr()
corr = corr.unstack().sort_values()
corr.loc[corr != 1].apply(abs).drop_duplicates().tail(2).to_frame("corr").reset_index().iloc[1]

level_0     Defense
level_1     Sp. Def
corr       0.510747
Name: 1, dtype: object

In [7]:
# 6. 각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

In [71]:
df.groupby("Generation")["Attack"].apply(lambda x: x.sort_values().head(3)).mean()

19.5

In [8]:
# 7. 각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라

In [72]:
df.groupby("Generation")["Attack"].apply(lambda x: x.sort_values().tail(5)).mean()

157.23333333333332

In [9]:
# 8. 가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?

In [87]:
df.groupby(["Type 1", "Type 2"]).size().to_frame("size").sort_values(by="size").tail(1).index[0]

('Normal', 'Flying')

In [10]:
# 9. 한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?

In [89]:
df2= df.groupby(["Type 1", "Type 2"]).size().to_frame("size")
(df2["size"] == 1).sum()

39

In [ ]:
# 10. 한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?

0         Grass
4          Fire
9         Water
13          Bug
20       Normal
28       Poison
30     Electric
32       Ground
40        Fairy
61     Fighting
68      Psychic
80         Rock
99        Ghost
133         Ice
159      Dragon
212        Dark
223       Steel
702      Flying
Name: Type 1, dtype: object

In [112]:
def custom(df):
    return (df.groupby(["Type 1", "Type 2"]).size() == 1).sum()


df.groupby("Generation").apply(custom)

Generation
1    10
2    20
3    12
4    30
5    12
6    17
dtype: int64