## ÎπÖÎç∞Ïù¥Î∂ÑÏÑùÍ∏∞ÏÇ¨ Ïã§Í∏∞Ï§ÄÎπÑ
--- 
> ÏûëÏÑ±Ïûê: Ïù¥ÏÑ±Ïö±  
> ÏûëÏÑ±Ïùº: '22.6/17  
- ÏûëÏóÖ1Ïú†Ìòï ÎåÄÎπÑ (Î¨∏Ï†úÏÇ¨Ïù¥Ìä∏: https://www.datamanim.com/dataset/03_dataq/typeone.html)
- ÎπÖÎ∂ÑÍ∏∞ Ïã§Í∏∞ÌôòÍ≤Ω Ï≤¥ÌóòÏÇ¨Ïù¥Ìä∏: https://goor.me/EvH8T
---

### Î¨∏Ï†ú 1~10Î≤à
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò : https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö : Ïú†ÌäúÎ∏å Îç∞ÏùºÎ¶¨ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ (ÌïúÍµ≠)
- dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[Ïã†Î≥ë] Î¨ºÏûêÏ∞ΩÍ≥†,Ïû•ÏÇêÏ≠à,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ÎπÑ) - ÎÇòÎ°ú Î∞îÍæ∏Ïûê Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ÎÖÑ Ï†úÏïºÏùò Ï¢Ö Ïò®ÎùºÏù∏ ÌÉÄÏ¢ÖÌñâÏÇ¨ | Î≥¥Ïã†Í∞Å ÌòÑÏû• ÌñâÏÇ¨Îäî ÏßÑÌñâÌïòÏßÄ ÏïäÏäµÎãàÎã§.,ÏÑúÏö∏Ïãú ¬∑ Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,Í≥†Í∏∞ÎÇ®ÏûêÏùò Ïπ†Î©¥Ï°∞ ÌååÌã∞,Í≥†Í∏∞ÎÇ®Ïûê MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,Í≥®Î™© 3mcÎ•º Î∂ÑÎÖ∏ÌïòÍ≤å ÎßåÎì† ÎßàÏùåÍ≥†ÏÉùÏù¥ Ïã¨ÌñàÏùÑ Í≥µÎ¶â Î∞±Î∞òÏßë ÏÇ¨Ïû•ÎãòÏùò Ìë∏ÎÖê?! [ÏòàÎä•...,Ïä§Î∏åÏä§Î∞•Ïßë,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [43]:
## 1. Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Ï†úÏûëÌöüÏàòÍ∞Ä ÎßéÏùÄ Ï±ÑÎÑê ÏÉÅÏúÑ 10Í∞úÎ™ÖÏùÑ Ï∂úÎ†•ÌïòÎùº (ÎÇ†ÏßúÍ∏∞Ï§Ä, Ï§ëÎ≥µÌè¨Ìï®) 
### df.loc[df["channelId"].isin(df["channelId"].value_counts().sort_values(ascending=False).head(10).index), ["channelTitle"]]["channelTitle"].unique().tolist()
channels_array = df.loc[df["channelId"].isin(df["channelId"].value_counts().sort_values(ascending=False)[0:10].index), "channelTitle"].unique()
channels_list = list(channels_array)
print(channels_list)

['Ïû•ÏÇêÏ≠à', 'Ï¥ùÎ™áÎ™Ö', 'ÌååÎøåÎ¶¨', 'Ïß§Ìà∞', 'Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê', 'Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê', 'SPOTV', 'Ï±ÑÎÑê Ïã≠Ïò§Ïïº', 'Ïù¥Í≥ºÏû•', 'BANGTANTV']

In [46]:
## 2. ÎÖºÎûÄÏúºÎ°ú Ïù∏Í∏∞ÎèôÏòÅÏÉÅÏù¥ Îêú ÏºÄÏù¥Ïä§Î•º ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§. dislikeÏàòÍ∞Ä like ÏàòÎ≥¥Îã§ ÎÜíÏùÄ ÎèôÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùÑ Î™®Îëê Ï∂úÎ†•ÌïòÎùº
channel_array = df.loc[df["dislikes"] > df["likes"], "channelTitle"].unique()
channel_list = list(channel_array)
print(channel_list)

['Ìï´ÎèÑÍ∑∏TV', 'ASMR Ïï†Ï†ïTV', 'ÌïòÏñÄÌä∏Î¶¨HayanTree', 'ÏñëÌå° YangPang', 'Ï≤†Íµ¨Ìòï (CHULTUBE)', 'ÏôúÎÉêÎß®ÌïòÏö∞Ïä§', '(MUTUBE)ÏôÄÍæ∏ÎåÄÏû•Î¥âÏ§Ä', 'Ïò§Î©îÌÇ¥TV', 'Ïú°ÏßÄÎã¥', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ÏÇ¨ÎÇòÏù¥ ÍπÄÍ∏∞Ìõà', 'ÎÇòÌòºÏûêÏÇ∞Îã§ STUDIO', 'Gen.G esports']

In [103]:
## 3. Ï±ÑÎÑêÎ™ÖÏùÑ Î∞îÍæº ÏºÄÏù¥Ïä§Í∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§. channelIdÏùò Í≤ΩÏö∞ Í≥†Ïú†Í∞íÏù¥ÎØÄÎ°ú Ïù¥Î•º ÌÜµÌï¥ Ï±ÑÎÑêÎ™ÖÏùÑ ÌïúÎ≤àÏù¥ÎùºÎèÑ Î∞îÍæº Ï±ÑÎÑêÏùò Í∞ØÏàòÎ•º Íµ¨ÌïòÏó¨Îùº
'''
- Ïù¥Í±¥ ÌïòÎäîÎ≤ï Ï≤òÏùå ÏïåÏïòÎã§. Ï°∞Í±¥Ïóê Îî∞ÎùºÏÑú dataframe Îã§Î£®ÎäîÍ±∞ Ï¢Ä Ïô∏ÏõåÏïºÍ≤†ÎÑ§? „Öé„Öé
'''
change = df.drop_duplicates(['channelId', 'channelTitle'])["channelId"].value_counts()
target = change[change>1]
print(len(target))

71

In [130]:
## 4. ÏùºÏöîÏùºÏóê Ïù∏Í∏∞ÏûàÏóàÎçò ÏòÅÏÉÅÎì§ Ï§ë Í∞ÄÏû• ÎßéÏùÄ ÏòÅÏÉÅ Ï¢ÖÎ•ò(categoryId)Îäî Î¨¥ÏóáÏù∏Í∞Ä?
'''
- dataframe Îç∞Ïù¥ÌÑ∞ datetime ÏúºÎ°ú Îã§Î£®Îäî Î∞©Î≤ï `pd.to_datetime`, `.dt.day_name()`
'''
answer = df.loc[pd.to_datetime(df["trending_date2"]).dt.day_name()=="Sunday", "categoryId"].value_counts().index[0]
print(answer)

24

In [145]:
## 5. Í∞Å ÏöîÏùºÎ≥Ñ Ïù∏Í∏∞ ÏòÅÏÉÅÎì§Ïùò categoryIdÎäî Í∞ÅÍ∞Å Î™áÍ∞ú Ïî©Ïù∏ÏßÄ ÌïòÎÇòÏùò Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑÌïòÎùº
'''
- `groupby` Î©îÏèòÎìúÏôÄ `pivot`Ïùò Ï°∞Ìï©ÏúºÎ°ú Ïù¥Î†áÍ≤åÎèÑ Í∞ÄÎä•ÌïòÍµ¨ÎÇò
'''
group = df.groupby([pd.to_datetime(df["trending_date2"]).dt.day_name(), "categoryId"], as_index=False).size()
answer = group.pivot(index="categoryId", columns="trending_date2")
answer

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [171]:
## 6. ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§. viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº (view_countÍ∞íÏù¥ 0Ïù∏ Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)
'''
- loc: df.loc[0] #Ïù∏Îç±Ïä§Î™ÖÏù¥ 0Ïù∏ Îç∞Ïù¥ÌÑ∞Î°ú Ï†ëÍ∑º, df.loc[0:2,['a','b']]
- iloc: df.iloc[0] #Ïù∏Îç±Ïä§Ïùò ÏúÑÏπòÍ∞Ä 0Ïù∏ Îç∞Ïù¥ÌÑ∞Î°ú Ï†ëÍ∑º, df.iloc[0:2,:]
'''
new_df = df.loc[(df["comment_count"] != 0) & (df["view_count"] !=0), ["title", "comment_count", "view_count"]]

ratio = (df["comment_count"] / new_df["view_count"]).dropna()
new_df.loc[ratio.sort_values(ascending=False).index[0]]["title"]

'60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)'

In [203]:
## 7. ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§. viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÇÆÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº (view_countÍ∞íÏù¥ 0Ïù∏ Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§.)

new_df = df.loc[(df["view_count"]!=0) & (df["comment_count"]!=0)]
new_df['ratio'] = (new_df["comment_count"]/new_df["view_count"]).dropna()
result = new_df.loc[new_df.sort_values(by='ratio', ascending=True).index[0], "title"]
print(result)

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

/home/joker1251/anaconda3/envs/bigdata_cert/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [205]:
## 8. like ÎåÄÎπÑ dislikeÏùò ÏàòÍ∞Ä Í∞ÄÏû• Ï†ÅÏùÄ ÏòÅÏÉÅÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? (like, dislike Í∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)

new_df = df.loc[(df["likes"]!=0)&(df["dislikes"]!=0)]
new_df['ratio'] = (new_df["dislikes"] / df["likes"])
result = new_df.loc[new_df.sort_values(by='ratio', ascending=True).index[0], "title"]
print(result)

[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞

/home/joker1251/anaconda3/envs/bigdata_cert/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [238]:
## 9. Í∞ÄÏû•ÎßéÏùÄ Ìä∏Î†åÎìú ÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùò Ïù¥Î¶ÑÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? (ÎÇ†ÏßúÍ∏∞Ï§Ä, Ï§ëÎ≥µÌè¨Ìï®)
answer = df.loc[df["channelId"]==df["channelId"].value_counts().index[0], "channelTitle"].unique()[0]
print(answer)

Ïß§Ìà∞

In [239]:
## 10. 20Ìöå(20Ïùº)Ïù¥ÏÉÅ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Î¶¨Ïä§Ìä∏Ïóê Ìè¨Ìï®Îêú ÎèôÏòÅÏÉÅÏùò Ïà´ÏûêÎäî?
'''
- ÏïÑÎûòÏ≤òÎüº ÏπºÎüºÏùÑ Î¨∂Ïñ¥ÏÑú `.value_count()`ÎèÑ Í∞ÄÎä•Ìï®
- `.sum()`ÏùÄ TrueÎßåÏùÑ ÎçîÌï¥Ï§å
'''
answer = (df[["channelId", "title"]].value_counts()>=20).sum()
print(answer)

40

### 11~20Î≤à
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò :https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr(Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö : Ïú†ÌäúÎ∏å ‚ÄúÍ≥µÎ≤î‚Äù Ïª®ÌÖêÏ∏† ÎèôÏòÅÏÉÅ Ï†ïÎ≥¥ ( 10Î∂Ñ Í∞ÑÍ≤© ÏàòÏßë)
- dataurl1 (ÎπÑÎîîÏò§ Ï†ïÎ≥¥) = https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv
- dataurl2 (Ï∞∏Í∞ÄÏûê Ï±ÑÎÑê Ï†ïÎ≥¥)= https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv

In [2]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')

video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,Í≥µÎ≤î EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,Í≥µÎ≤î EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,Í≥µÎ≤î EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,Í≥µÎ≤î EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,Í≥µÎ≤î EP1

In [3]:
channel.head()

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ÍΩàÎöúÎ£π
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ÍΩàÎöúÎ£π
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ÍΩàÎöúÎ£π
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ÍΩàÎöúÎ£π
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ÍΩàÎöúÎ£π

In [4]:
## 11. Í∞Å Îç∞Ïù¥ÌÑ∞Ïùò ‚Äòct‚ÄôÏª¨ÎüºÏùÑ ÏãúÍ∞ÑÏúºÎ°ú Ïù∏ÏãùÌï†Ïàò ÏûàÍ≤å datatypeÏùÑ Î≥ÄÍ≤ΩÌïòÍ≥† video Îç∞Ïù¥ÌÑ∞Ïùò videonameÏùò Í∞Å value ÎßàÎã§ Î™áÍ∞úÏùò Îç∞Ïù¥ÌÑ∞Ïî© Í∞ÄÏßÄÍ≥† ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÎùº

In [7]:
video["new_ct"] = pd.to_datetime(video["ct"])
channel["new_ct"] = pd.to_datetime(channel["ct"])

video["videoname"].value_counts()

 Í≥µÎ≤î EP1    3492
 Í≥µÎ≤î EP2    3204
 Í≥µÎ≤î EP3    2568
 Í≥µÎ≤î EP4    2280
 Í≥µÎ≤î EP5    1562
 Í≥µÎ≤î EP6    1274
 Í≥µÎ≤î EP7     555
 Í≥µÎ≤î EP8     266
Name: videoname, dtype: int64

In [8]:
## 12. ÏàòÏßëÎêú Í∞Å videoÏùò Í∞ÄÏû• ÏµúÏã†Ìôî Îêú ÎÇ†ÏßúÏùò viewcountÍ∞íÏùÑ Ï∂úÎ†•ÌïòÎùº

In [20]:
video.sort_values(by="new_ct", ascending=False).drop_duplicates(["videoname"])[["viewcnt","videoname","new_ct"]].sort_values(by="videoname",ascending=True)

       viewcnt videoname              new_ct
3491   3180532    Í≥µÎ≤î EP1 2021-11-01 15:30:03
6695   2199328    Í≥µÎ≤î EP2 2021-11-01 15:30:03
9263   1671294    Í≥µÎ≤î EP3 2021-11-01 15:30:03
11543  1818493    Í≥µÎ≤î EP4 2021-11-01 15:30:03
13105  1503435    Í≥µÎ≤î EP5 2021-11-01 15:30:04
14934  1750222    Í≥µÎ≤î EP6 2021-11-01 15:30:04
13660  1630200    Í≥µÎ≤î EP7 2021-11-01 15:30:05
15200  1289088    Í≥µÎ≤î EP8 2021-11-01 15:30:05

In [21]:
## 13. Channel Îç∞Ïù¥ÌÑ∞Ï§ë 2021-10-03Ïùº Ïù¥ÌõÑ Í∞Å Ï±ÑÎÑêÏùò Ï≤òÏùå Í∏∞Î°ù ÎêêÎçò Íµ¨ÎèÖÏûê Ïàò(subcnt)Î•º Ï∂úÎ†•ÌïòÎùº

In [28]:
channel.loc[channel["new_ct"] > '2021-10-03', ['channelname', 'subcnt', 'new_ct']].sort_values(by='new_ct', ascending=True).drop_duplicates(['channelname'])

          channelname   subcnt              new_ct
393            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞   922000 2021-10-03 03:01:02
266        Ï∏ÑÏ†ïChuJeong   322000 2021-10-03 03:01:02
139             ÏïºÏ†ÑÏÇΩÏß±Ïû¨   257000 2021-10-03 03:01:02
901        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂     7520 2021-10-03 03:01:03
520   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle    55000 2021-10-03 03:01:03
1028      Î¶¥ÌéÑ Lilpearl    10100 2021-10-03 03:01:03
774           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§    14900 2021-10-03 03:01:03
647               Ï°∞ÎÇòÎã®   215000 2021-10-03 03:01:03
12                ÍΩàÎöúÎ£π  1330000 2021-10-03 03:01:04
1276    Balming Tiger    54300 2021-10-03 03:01:04
1155    Í≥ΩÌÜ†Î¶¨ kwak tori   471000 2021-10-03 03:01:04

In [29]:
## 14. Í∞ÅÏ±ÑÎÑêÏùò 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ÍπåÏßÄ Íµ¨ÎèÖÏûêÏàò (subcnt) Ïùò Ï¶ùÍ∞ÄÎüâÏùÑ Íµ¨ÌïòÏó¨Îùº

In [106]:
end = channel.loc[channel["new_ct"].dt.strftime("%Y-%m-%d %H") == '2021-11-01 15']
start = channel.loc[channel["new_ct"].dt.strftime("%Y-%m-%d %H") == '2021-10-03 03']

end_df = end[['channelname', 'subcnt']].reset_index(drop=True)
start_df = start[['channelname', 'subcnt']].reset_index(drop=True)

end_df.rename(columns={"subcnt":"end_sub"}, inplace=True)
start_df.rename(columns={"subcnt":"start_sub"}, inplace=True)

end_df.index = end_df["channelname"]
end_df.drop("channelname", axis=1, inplace=True)

start_df.index = start_df["channelname"]
start_df.drop("channelname", axis=1, inplace=True)

tt = pd.concat([start_df, end_df], axis=1)
tt['del'] = tt['end_sub'] - tt['start_sub']
tt=tt.rename_axis("channelname").reset_index() # Ïù∏Îç±Ïä§Î•º ÏπºÎüºÏúºÎ°ú(as "channename") Î∞îÍæ∏Îäî Î∞©Î≤ï, ÎòêÎäî video.reset_index().rename(columns={"index":"index2"})ÎèÑ Í∞ÄÎä•
result = tt[["channelname", 'del']]
result

        channelname    del
0               ÍΩàÎöúÎ£π  70000
1             ÏïºÏ†ÑÏÇΩÏß±Ïû¨  11000
2        Ï∏ÑÏ†ïChuJeong   1000
3            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞ -11000
4   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle      0
5               Ï°∞ÎÇòÎã®  12000
6           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§  10300
7        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂   1540
8       Î¶¥ÌéÑ Lilpearl  11000
9     Í≥ΩÌÜ†Î¶¨ kwak tori  -2000
10    Balming Tiger   2500

In [107]:
## 15. Í∞Å ÎπÑÎîîÏò§Îäî 10Î∂Ñ Í∞ÑÍ≤©ÏúºÎ°ú Íµ¨ÎèÖÏûêÏàò, Ï¢ãÏïÑÏöî, Ïã´Ïñ¥ÏöîÏàò, ÎåìÍ∏ÄÏàòÍ∞Ä ÏàòÏßëÎêúÍ≤ÉÏúºÎ°ú ÏïåÎ†§Ï°åÎã§. Í≥µÎ≤î EP1Ïùò ÎπÑÎîîÏò§Ï†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞Ï§ë ÏàòÏßëÍ∞ÑÍ≤©Ïù¥ 5Î∂Ñ Ïù¥Ìïò, 20Î∂ÑÏù¥ÏÉÅÏù∏ Îç∞Ïù¥ÌÑ∞ Íµ¨Í∞Ñ( Ìï¥Îãπ ÏãúÏ†ê Ï†Ñ,ÌõÑ) Ïùò ÏãúÍ∞ÅÏùÑ Î™®Îëê Ï∂úÎ†•ÌïòÎùº

In [144]:
import datetime
new_video = video.copy()
new_video = new_video.loc[new_video["videoname"].str.contains("1")].sort_values(by="new_ct", ascending=True)
new_video["diff_ct"] = new_video["new_ct"].diff(1)

condition = (new_video["diff_ct"] >= datetime.timedelta(minutes=20)) | (new_video["diff_ct"] <= datetime.timedelta(minutes=5)) 
newnew_video = new_video.loc[condition]

list_idx = []
for i in newnew_video.index:
    list_idx.append(i-1)
    list_idx.append(i)
    list_idx.append(i+1)

new_video.loc[list_idx].drop_duplicates()

In [178]:
## 16. Í∞Å ÏóêÌîºÏÜåÎìúÏùò ÏãúÏûëÎÇ†Ïßú(ÎÖÑ-Ïõî-Ïùº)Î•º ÏóêÌîºÏÜåÎìú Ïù¥Î¶ÑÍ≥º Î¨∂Ïñ¥ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÎßåÎì§Í≥† Ï∂úÎ†•ÌïòÎùº

In [196]:
video.sort_values(by="new_ct", ascending=True).drop_duplicates('videoname')[["new_ct", "videoname"]].rename(columns={"new_ct":"date"})

                     date videoname
10    2021-10-07 19:10:03    Í≥µÎ≤î EP1
3496  2021-10-09 19:10:03    Í≥µÎ≤î EP2
6696  2021-10-14 19:10:04    Í≥µÎ≤î EP3
9264  2021-10-16 19:10:04    Í≥µÎ≤î EP4
11544 2021-10-21 19:10:04    Í≥µÎ≤î EP5
13661 2021-10-23 19:10:04    Í≥µÎ≤î EP6
13106 2021-10-28 19:10:04    Í≥µÎ≤î EP7
14935 2021-10-30 19:20:04    Í≥µÎ≤î EP8

In [ ]:
## 17. ‚ÄúÍ≥µÎ≤î‚Äù Ïª®ÌÖêÏ∏†Ïùò Í≤ΩÏö∞ 19:00ÏãúÏóê Í≥µÍ∞ú ÎêòÎäîÍ≤ÉÏúºÎ°ú ÏïåÎ†§Ï†∏ÏûàÎã§. Í≥µÍ∞úÎêú ÎÇ†Ïùò 21ÏãúÏùò viewcnt, ct, videoname ÏúºÎ°ú Íµ¨ÏÑ±Îêú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ viewcntÎ•º ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÏó¨ Ï∂úÎ†•ÌïòÎùº

In [243]:
video.loc[video["new_ct"].dt.strftime("%H:%M") =="21:00", ["viewcnt", "new_ct", "videoname"]].sort_values(by="viewcnt", ascending=False).drop_duplicates("videoname", keep="last")

       viewcnt              new_ct videoname
14945   264029 2021-10-30 21:00:08    Í≥µÎ≤î EP8
13117   252032 2021-10-28 21:00:04    Í≥µÎ≤î EP7
9275    217674 2021-10-16 21:00:04    Í≥µÎ≤î EP4
13672   213899 2021-10-23 21:00:06    Í≥µÎ≤î EP6
11555   201179 2021-10-21 21:00:04    Í≥µÎ≤î EP5
3507    148144 2021-10-09 21:00:03    Í≥µÎ≤î EP2
6707    147183 2021-10-14 21:00:04    Í≥µÎ≤î EP3
21      117340 2021-10-07 21:00:03    Í≥µÎ≤î EP1

In [244]:
## 18. video Ï†ïÎ≥¥Ïùò Í∞ÄÏû• ÏµúÍ∑º Îç∞Ïù¥ÌÑ∞Îì§ÏóêÏÑú Í∞Å ÏóêÌîºÏÜåÎìúÏùò Ïã´Ïñ¥Ïöî/Ï¢ãÏïÑÏöî ÎπÑÏú®ÏùÑ ratio Ïª¨ÎüºÏúºÎ°ú ÎßåÎì§Í≥† videoname, ratioÎ°ú Íµ¨ÏÑ±Îêú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ ratioÎ•º Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÎùº

In [253]:
new_video = video.sort_values(by="new_ct", ascending=False).drop_duplicates("videoname")
new_video = new_video.loc[new_video["likecnt"] != 0]

new_video["ratio"] = new_video["dislikecnt"] / new_video["likecnt"]
new_video.sort_values(by="ratio", ascending=True)[["videoname", "ratio"]].reset_index()

   index videoname     ratio
0  13660    Í≥µÎ≤î EP7  0.013636
1  14934    Í≥µÎ≤î EP6  0.015881
2  11543    Í≥µÎ≤î EP4  0.017971
3  13105    Í≥µÎ≤î EP5  0.021128
4   9263    Í≥µÎ≤î EP3  0.022360
5   3491    Í≥µÎ≤î EP1  0.027118
6   6695    Í≥µÎ≤î EP2  0.029844
7  15200    Í≥µÎ≤î EP8  0.141357

In [254]:
## 19. 2021-11-01 00:00:00 ~ 15:00:00ÍπåÏßÄ Í∞Å ÏóêÌîºÏÜåÎìúÎ≥Ñ viewcntÏùò Ï¶ùÍ∞ÄÎüâÏùÑ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÎßåÎìúÏãúÏò§
### Ïù¥Í±¥ Ïñ¥Î†µÎÑ§. ÎÇòÎäî ÎÇ†ÏßúÎßàÎã§Ïùò Ï¶ùÍ∞êÎüâÏùÑ Î≥¥Í≥†Ïã∂ÏùÄÎç∞ ÏïÑÎûò ÏÜîÎ£®ÏÖòÏùÄ Ï¶ùÍ∞êÎüâÏùò Ï†àÎåÄÍ∞íÎßåÏùÑ Î≥¥Ïó¨Ï§ÑÏàò ÏûàÏúºÎãà....,
### groupby Î©îÏèòÎìúÍ∞Ä Í∑∏Î£®ÌïëÌï¥ÏÑú ÏÇ∞Ïà†Ï†ïÎ≥¥ÎÇò Ï†ÑÏ≤òÎ¶¨Ìï†Îïå ÏÇ¨Ïö©ÌïòÎ©¥ ÎêòÎäî Î©îÏèòÎìúÍµ¨ÎÇò.

In [300]:
def check(x):
    return max(x) - min(x)

condition = (video["new_ct"].dt.strftime("%Y-%m-%d %H:%M:%S") >= "2021-11-01 00:00:00") & (video["new_ct"].dt.strftime("%Y-%m-%d %H:%M:%S") <= "2021-11-01 15:00:00")
video.loc[condition, ["videoname", "viewcnt"]].groupby("videoname").agg(check)

           viewcnt
videoname
 Í≥µÎ≤î EP1      13298
 Í≥µÎ≤î EP2      10300
 Í≥µÎ≤î EP3       9927
 Í≥µÎ≤î EP4       9824
 Í≥µÎ≤î EP5      10824
 Í≥µÎ≤î EP6      14141
 Í≥µÎ≤î EP7      26949
 Í≥µÎ≤î EP8      89147

In [301]:
## 20. video Îç∞Ïù¥ÌÑ∞ Ï§ëÏóêÏÑú Ï§ëÎ≥µÎêòÎäî Îç∞Ïù¥ÌÑ∞Í∞Ä Ï°¥Ïû¨ÌïúÎã§. Ï§ëÎ≥µÎêòÎäî Í∞Å Îç∞Ïù¥ÌÑ∞Ïùò ÏãúÍ∞ÑÎåÄÏôÄ videoname ÏùÑ Íµ¨ÌïòÏó¨Îùº

In [305]:
video.loc[video.duplicated(["videoname", "new_ct"]), ["videoname", "new_ct"]]

     videoname              new_ct
722     Í≥µÎ≤î EP1 2021-10-13 09:41:37
3927    Í≥µÎ≤î EP2 2021-10-13 09:41:37

### 21~30Î≤à Î¨∏Ï†ú
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò :https://www.kaggle.com/darinhawley/fifa-world-cup-goalscorers-19302018(Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö : 1930 ~2018ÎÖÑÎèÑ ÏõîÎìúÏªµ Ï∂úÏ†ÑÏÑ†Ïàò Í≥®Í∏∞Î°ù
- data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv

In [1]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [2]:
## 21. Ï£ºÏñ¥ÏßÑ Ï†ÑÏ≤¥ Í∏∞Í∞ÑÏùò Í∞Å ÎÇòÎùºÎ≥Ñ Í≥®ÎìùÏ†êÏàò ÏÉÅÏúÑ 5Í∞ú Íµ≠Í∞ÄÏôÄ Í∑∏ ÎìùÏ†êÏàòÎ•º Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÌòïÌÉúÎ°ú Ï∂úÎ†•ÌïòÎùº

In [30]:
df.groupby("Country")["Goals"].sum().sort_values(ascending=False).head(5)

Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115
Name: Goals, dtype: int64

In [7]:
## 22. Ï£ºÏñ¥ÏßÑ Ï†ÑÏ≤¥Í∏∞Í∞ÑÎèôÏïà Í≥®ÎìùÏ†êÏùÑ Ìïú ÏÑ†ÏàòÍ∞Ä Í∞ÄÏû• ÎßéÏùÄ ÎÇòÎùº ÏÉÅÏúÑ 5Í∞ú Íµ≠Í∞ÄÏôÄ Í∑∏ ÏÑ†Ïàò Ïà´ÏûêÎ•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÌòïÏãùÏúºÎ°ú Ï∂úÎ†•ÌïòÎùº

In [34]:
df.groupby("Country")["Player"].size().sort_values(ascending=False).head(5)

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
Name: Player, dtype: int64

In [35]:
## 23. Years Ïª¨ÎüºÏùÄ ÎÖÑÎèÑ -ÎÖÑÎèÑ ÌòïÏãùÏúºÎ°ú Íµ¨ÏÑ±ÎêòÏñ¥ÏûàÍ≥†, Í∞Å ÎÖÑÎèÑÎäî 4ÏûêÎ¶¨ Ïà´ÏûêÏù¥Îã§. ÎÖÑÎèÑ ÌëúÍ∏∞Í∞Ä 4ÏûêÎ¶¨ Ïà´ÏûêÎ°ú ÏïàÎêú ÏºÄÏù¥Ïä§Í∞Ä Ï°¥Ïû¨ÌïúÎã§. Ìï¥Îãπ Í±¥ÏùÄ Î™áÍ±¥Ïù∏ÏßÄ Ï∂úÎ†•ÌïòÎùº

In [40]:
df['yearList']=df["Years"].str.split('-')

def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
    return True

df['check'] =df['yearList'].apply(checkFour)
df.loc[df["check"]==False].shape[0]

45

In [41]:
## 24. Q3ÏóêÏÑú Î∞úÏÉùÌïú ÏòàÏô∏ ÏºÄÏù¥Ïä§Î•º Ï†úÏô∏Ìïú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ df2ÎùºÍ≥† Ï†ïÏùòÌïòÍ≥† Îç∞Ïù¥ÌÑ∞Ïùò ÌñâÏùò Ïà´ÏûêÎ•º Ï∂úÎ†•ÌïòÎùº (ÏïÑÎûò Î¨∏Ï†úÎ∂ÄÌÑ∞Îäî df2Î°ú ÌíÄÏù¥ÌïòÍ≤†ÏäµÎãàÎã§)

In [47]:
df2 = df.loc[df["check"]==True].reset_index(drop=True)
df2.shape[0]

1250

In [48]:
## 25. ÏõîÎìúÏªµ Ï∂úÏ†ÑÌöüÏàòÎ•º ÎÇòÌÉÄÎÇ¥Îäî ‚ÄòLenCup‚Äô Ïª¨ÎüºÏùÑ Ï∂îÍ∞ÄÌïòÍ≥† 4Ìöå Ï∂úÏ†ÑÌïú ÏÑ†ÏàòÏùò Ïà´ÏûêÎ•º Íµ¨ÌïòÏó¨Îùº

In [58]:
def check_LenCup(x):
    if len(x) == 4:
        return True
    else:
        return False

df2["LenCup"]=df2["yearList"].apply(check_LenCup)
df2["LenCup"].sum()

16

In [59]:
## 26. Yugoslavia Íµ≠Í∞ÄÏùò ÏõîÎìúÏªµ Ï∂úÏ†ÑÌöüÏàòÍ∞Ä 2ÌöåÏù∏ ÏÑ†ÏàòÎì§Ïùò Ïà´ÏûêÎ•º Íµ¨ÌïòÏó¨Îùº

In [71]:
def check_two(x):
    if len(x)==2:
        return True
    else:
        return False

df2.loc[df2["Country"]=="Yugoslavia", ["Player", "yearList"]]["yearList"].apply(check_two).sum()

7

In [72]:
## 27. 2002ÎÖÑÎèÑÏóê Ï∂úÏ†ÑÌïú Ï†ÑÏ≤¥ ÏÑ†ÏàòÎäî Î™áÎ™ÖÏù∏Í∞Ä?

In [76]:
def in_2002(x):
    for year in x:
        if year == "2002":
            return True
    return False

df2["yearList"].apply(in_2002).sum()

156

In [74]:
## 28. Ïù¥Î¶ÑÏóê ‚Äòcarlos‚Äô Îã®Ïñ¥Í∞Ä Îì§Ïñ¥Í∞ÄÎäî ÏÑ†ÏàòÏùò Ïà´ÏûêÎäî Î™á Î™ÖÏù∏Í∞Ä? (ÎåÄ, ÏÜåÎ¨∏Ïûê Íµ¨Î∂Ñ x)

In [83]:
def check_carlos(x):
    for i in x:
        if i.upper() == "CARLOS":
            return True
    return False

df2["Player"].str.split(' ').apply(check_carlos).sum()

13

In [84]:
## 29. ÏõîÎìúÏªµ Ï∂úÏ†Ñ ÌöüÏàòÍ∞Ä 1ÌöåÎøêÏù∏ ÏÑ†ÏàòÎì§ Ï§ëÏóêÏÑú Í∞ÄÏû• ÎßéÏùÄ ÎìùÏ†êÏùÑ Ïò¨Î†∏Îçò ÏÑ†ÏàòÎäî ÎàÑÍµ¨Ïù∏Í∞Ä?
### ÏïÑ `.map` Î©îÏèòÎìúÎ•º Ïì∏ÏàòÎèÑ ÏûàÍ≤†Íµ∞ apply() Îøê ÏïÑÎãàÎùº.

In [92]:
df2.loc[df2["yearList"].map(len)==1].sort_values(by="Goals", ascending=False).head(1)["Player"].values[0]

'Just Fontaine'

In [93]:
## 30. ÏõîÎìúÏªµ Ï∂úÏ†ÑÌöüÏàòÍ∞Ä 1Ìöå ÎøêÏù∏ ÏÑ†ÏàòÎì§Ïù¥ Í∞ÄÏû• ÎßéÏùÄ Íµ≠Í∞ÄÎäî Ïñ¥ÎîîÏù∏Í∞Ä?

In [101]:
df2.loc[(df2["yearList"].map(len)==1)].groupby("Country").size().sort_values(ascending=False).head(1).index[0]

'Brazil'

### 31~40Î≤à Î¨∏Ï†ú
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò :https://www.data.go.kr/data/15051872/fileData.do(Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö : ÏÑúÏö∏ÌäπÎ≥ÑÏãú_Í≥µÍ≥µÏûêÏ†ÑÍ±∞ ÏãúÍ∞ÑÎåÄÎ≥Ñ Ïù¥Ïö©Ï†ïÎ≥¥
- data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv

In [17]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         ÎåÄÏó¨ÏùºÏûê  ÎåÄÏó¨ÏãúÍ∞Ñ  ÎåÄÏó¨ÏÜåÎ≤àÌò∏ ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú ÏÑ±Î≥Ñ Ïó∞Î†πÎåÄÏΩîÎìú  Ïù¥Ïö©Í±¥Ïàò    Ïö¥ÎèôÎüâ   ÌÉÑÏÜåÎüâ     Ïù¥ÎèôÍ±∞Î¶¨  ÏÇ¨Ïö©ÏãúÍ∞Ñ
0  2021-06-01     0   3541    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1  13.04  0.17   731.55     6

In [ ]:
## 31. ÎåÄÏó¨ÏùºÏûêÎ≥Ñ Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÎ•º Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Ï∂úÎ†•ÌïòÍ≥†, Í∞ÄÏû• ÎßéÏùÄ Îç∞Ïù¥ÌÑ∞Í∞Ä ÏûàÎäî ÎÇ†ÏßúÎ•º Ï∂úÎ†•ÌïòÎùº

In [32]:
df["ÎåÄÏó¨ÏùºÏûê2"]=pd.to_datetime(df["ÎåÄÏó¨ÏùºÏûê"])
print(df.groupby("ÎåÄÏó¨ÏùºÏûê2").size().sort_values(ascending=False).head(1).index[0])
df.groupby("ÎåÄÏó¨ÏùºÏûê2").size()

2021-06-04 00:00:00

ÎåÄÏó¨ÏùºÏûê2
2021-06-01    48081
2021-06-02    56100
2021-06-03    18985
2021-06-04    56788
2021-06-05    52730
2021-06-06    47787
2021-06-07    52623
2021-06-08    55623
2021-06-09    54507
2021-06-10    36992
2021-06-11    52089
2021-06-12    48569
2021-06-13    43131
2021-06-14    54945
dtype: int64

In [ ]:
## 32. Í∞Å ÏùºÏûêÏùò ÏöîÏùºÏùÑ ÌëúÍ∏∞ÌïòÍ≥† (‚ÄòMonday‚Äô ~‚ÄôSunday‚Äô) ‚Äòday_name‚ÄôÏª¨ÎüºÏùÑ Ï∂îÍ∞ÄÌïòÍ≥† Ïù¥Î•º Ïù¥Ïö©ÌïòÏó¨ Í∞Å ÏöîÏùºÎ≥Ñ Ïù¥Ïö© ÌöüÏàòÏùò Ï¥ùÌï©ÏùÑ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú Ï∂úÎ†•ÌïòÎùº

In [42]:
df["day_name"] = df["ÎåÄÏó¨ÏùºÏûê2"].dt.day_name()
df.groupby("day_name")["Ïù¥Ïö©Í±¥Ïàò"].sum().sort_values(ascending=False)

day_name
Wednesday    122653
Friday       120716
Monday       119271
Tuesday      114492
Saturday     110900
Sunday        99297
Thursday      60338
Name: Ïù¥Ïö©Í±¥Ïàò, dtype: int64

In [43]:
## 33. Í∞Å ÏöîÏùºÎ≥Ñ Í∞ÄÏû• ÎßéÏù¥ Ïù¥Ïö©Ìïú ÎåÄÏó¨ÏÜåÏùò Ïù¥Ïö©ÌöüÏàòÏôÄ ÎåÄÏó¨ÏÜå Î≤àÌò∏Î•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú Ï∂úÎ†•ÌïòÎùº

In [44]:
df.head()

,ÎåÄÏó¨ÏùºÏûê,ÎåÄÏó¨ÏãúÍ∞Ñ,ÎåÄÏó¨ÏÜåÎ≤àÌò∏,ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú,ÏÑ±Î≥Ñ,Ïó∞Î†πÎåÄÏΩîÎìú,Ïù¥Ïö©Í±¥Ïàò,Ïö¥ÎèôÎüâ,ÌÉÑÏÜåÎüâ,Ïù¥ÎèôÍ±∞Î¶¨,ÏÇ¨Ïö©ÏãúÍ∞Ñ,ÎåÄÏó¨ÏùºÏûê2,weekname,day_name
0,2021-06-01,0,3541,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,0.00,0.00,0.00,8,2021-06-01,Tuesday,Tuesday
1,2021-06-01,0,765,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,27.21,0.35,1526.81,19,2021-06-01,Tuesday,Tuesday
2,2021-06-01,0,2637,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,41.40,0.37,1608.56,18,2021-06-01,Tuesday,Tuesday
3,2021-06-01,0,2919,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,0.00,0.00,0.00,75,2021-06-01,Tuesday,Tuesday
4,2021-06-01,0,549,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,13.04,0.17,731.55,6,2021-06-01,Tuesday,Tuesday

In [67]:
df.groupby(["day_name", "ÎåÄÏó¨ÏÜåÎ≤àÌò∏"], as_index=False)["Ïù¥Ïö©Í±¥Ïàò"].size().sort_values(by="size", ascending=False).drop_duplicates("day_name").reset_index(drop=True)

    day_name  ÎåÄÏó¨ÏÜåÎ≤àÌò∏  size
0   Saturday    502   378
1     Sunday    502   372
2  Wednesday    502   282
3     Friday    502   277
4    Tuesday    502   267
5     Monday    502   242
6   Thursday   2715   137

In [68]:
## 34. ÎÇòÏù¥ÎåÄÎ≥Ñ ÎåÄÏó¨Íµ¨Î∂Ñ ÏΩîÎìúÏùò (ÏùºÏùºÍ∂å/Ï†ÑÏ≤¥ÌöüÏàò) ÎπÑÏú®ÏùÑ Íµ¨Ìïú ÌõÑ Í∞ÄÏû• ÎÜíÏùÄ ÎπÑÏú®ÏùÑ Í∞ÄÏßÄÎäî ÎÇòÏù¥ÎåÄÎ•º ÌôïÏù∏ÌïòÎùº. ÏùºÏùºÍ∂åÏùò Í≤ΩÏö∞ ÏùºÏùºÍ∂å Í≥º ÏùºÏùºÍ∂å(ÎπÑÌöåÏõê)ÏùÑ Î™®Îëê Ìè¨Ìï®ÌïòÎùº

In [69]:
df.head()

,ÎåÄÏó¨ÏùºÏûê,ÎåÄÏó¨ÏãúÍ∞Ñ,ÎåÄÏó¨ÏÜåÎ≤àÌò∏,ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú,ÏÑ±Î≥Ñ,Ïó∞Î†πÎåÄÏΩîÎìú,Ïù¥Ïö©Í±¥Ïàò,Ïö¥ÎèôÎüâ,ÌÉÑÏÜåÎüâ,Ïù¥ÎèôÍ±∞Î¶¨,ÏÇ¨Ïö©ÏãúÍ∞Ñ,ÎåÄÏó¨ÏùºÏûê2,weekname,day_name
0,2021-06-01,0,3541,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,0.00,0.00,0.00,8,2021-06-01,Tuesday,Tuesday
1,2021-06-01,0,765,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,27.21,0.35,1526.81,19,2021-06-01,Tuesday,Tuesday
2,2021-06-01,0,2637,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,41.40,0.37,1608.56,18,2021-06-01,Tuesday,Tuesday
3,2021-06-01,0,2919,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,0.00,0.00,0.00,75,2021-06-01,Tuesday,Tuesday
4,2021-06-01,0,549,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,13.04,0.17,731.55,6,2021-06-01,Tuesday,Tuesday

In [131]:
daily= df.loc[df["ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú"].isin(['ÏùºÏùºÍ∂å', 'ÏùºÏùºÍ∂å(ÎπÑÌöåÏõê)']), "Ïó∞Î†πÎåÄÏΩîÎìú"].value_counts().sort_index()
total = df["Ïó∞Î†πÎåÄÏΩîÎìú"].value_counts().sort_index()

print(ratio.head(1).index[0])
ratio = (daily/total).sort_values(ascending=False)
ratio

~10ÎåÄ

~10ÎåÄ    0.312525
20ÎåÄ     0.239913
30ÎåÄ     0.166702
40ÎåÄ     0.110585
50ÎåÄ     0.065414
70ÎåÄ~    0.048962
60ÎåÄ     0.042462
Name: Ïó∞Î†πÎåÄÏΩîÎìú, dtype: float64

In [132]:
## 35. Ïó∞Î†πÎåÄÎ≥Ñ ÌèâÍ∑† Ïù¥ÎèôÍ±∞Î¶¨Î•º Íµ¨ÌïòÏó¨Îùº

In [139]:
df.groupby("Ïó∞Î†πÎåÄÏΩîÎìú").mean()[["Ïù¥ÎèôÍ±∞Î¶¨"]]

              Ïù¥ÎèôÍ±∞Î¶¨
Ïó∞Î†πÎåÄÏΩîÎìú
20ÎåÄ    3211.890552
30ÎåÄ    3341.443859
40ÎåÄ    3514.857416
50ÎåÄ    3593.668100
60ÎåÄ    3538.145737
70ÎåÄ~   3085.039641
~10ÎåÄ   2634.426279

In [140]:
## 36. Ïó∞Î†πÎåÄ ÏΩîÎìúÍ∞Ä 20ÎåÄÏù∏ Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïòÍ≥†,Ïù¥ÎèôÍ±∞Î¶¨Í∞íÏù¥ Ï∂îÏ∂úÌïú Îç∞Ïù¥ÌÑ∞Ïùò Ïù¥ÎèôÍ±∞Î¶¨Í∞íÏùò ÌèâÍ∑† Ïù¥ÏÉÅÏù∏ Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïúÎã§.ÏµúÏ¢Ö Ï∂îÏ∂úÎêú Îç∞Ïù¥ÌÑ∞Î•º ÎåÄÏó¨ÏùºÏûê, ÎåÄÏó¨ÏÜå Î≤àÌò∏ ÏàúÏÑúÎ°ú ÎÇ¥Î¶ºÏ∞®Ïàú Ï†ïÎ†¨ ÌõÑ 1ÌñâÎ∂ÄÌÑ∞ 200ÌñâÍπåÏßÄÏùò ÌÉÑÏÜåÎüâÏùò ÌèâÍ∑†ÏùÑ ÏÜåÏà´Ï†ê 3Ïß∏ ÏûêÎ¶¨ÍπåÏßÄ Íµ¨ÌïòÏó¨Îùº

In [141]:
df.head()

,ÎåÄÏó¨ÏùºÏûê,ÎåÄÏó¨ÏãúÍ∞Ñ,ÎåÄÏó¨ÏÜåÎ≤àÌò∏,ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú,ÏÑ±Î≥Ñ,Ïó∞Î†πÎåÄÏΩîÎìú,Ïù¥Ïö©Í±¥Ïàò,Ïö¥ÎèôÎüâ,ÌÉÑÏÜåÎüâ,Ïù¥ÎèôÍ±∞Î¶¨,ÏÇ¨Ïö©ÏãúÍ∞Ñ,ÎåÄÏó¨ÏùºÏûê2,weekname,day_name
0,2021-06-01,0,3541,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,0.00,0.00,0.00,8,2021-06-01,Tuesday,Tuesday
1,2021-06-01,0,765,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,27.21,0.35,1526.81,19,2021-06-01,Tuesday,Tuesday
2,2021-06-01,0,2637,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,41.40,0.37,1608.56,18,2021-06-01,Tuesday,Tuesday
3,2021-06-01,0,2919,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,0.00,0.00,0.00,75,2021-06-01,Tuesday,Tuesday
4,2021-06-01,0,549,Ï†ïÍ∏∞Í∂å,F,~10ÎåÄ,1,13.04,0.17,731.55,6,2021-06-01,Tuesday,Tuesday

In [223]:
condition = (df["Ïó∞Î†πÎåÄÏΩîÎìú"] == "20ÎåÄ") & (df["Ïù¥ÎèôÍ±∞Î¶¨"] > df["Ïù¥ÎèôÍ±∞Î¶¨"].mean())
condition2 = df["ÌÉÑÏÜåÎüâ"]!=("\\N")
df["ÌÉÑÏÜåÎüâ2"]=df.loc[condition & condition2, ["ÌÉÑÏÜåÎüâ"]].astype("float")
df.loc[condition&condition2].sort_values(by=["ÎåÄÏó¨ÏùºÏûê2", "ÎåÄÏó¨ÏÜåÎ≤àÌò∏"], ascending=False).head(200).mean()["ÌÉÑÏÜåÎüâ2"].round(3)

/home/joker1251/anaconda3/envs/bigdata_cert/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """

1.643

In [224]:
## 37. 6Ïõî 7Ïùº ~10ÎåÄÏùò ‚ÄúÏù¥Ïö©Í±¥Ïàò‚ÄùÏùò Ï§ëÏïôÍ∞íÏùÄ?

In [247]:
df.loc[(df["ÎåÄÏó¨ÏùºÏûê2"].dt.strftime("%mÏõî %dÏùº") == "06Ïõî 07Ïùº"), ["Ïó∞Î†πÎåÄÏΩîÎìú", "Ïù¥Ïö©Í±¥Ïàò"]].groupby("Ïó∞Î†πÎåÄÏΩîÎìú").median().loc["~10ÎåÄ"]

Ïù¥Ïö©Í±¥Ïàò    1
Name: ~10ÎåÄ, dtype: int64

In [248]:
## 38. ÌèâÏùº (Ïõî~Í∏à) Ï∂úÍ∑º ÏãúÍ∞ÑÎåÄ(Ïò§Ï†Ñ 6,7,8Ïãú)Ïùò ÎåÄÏó¨ÏÜåÎ≥Ñ Ïù¥Ïö© ÌöüÏàòÎ•º Íµ¨Ìï¥ÏÑú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÌòïÌÉúÎ°ú ÌëúÌòÑÌïú ÌõÑ Í∞Å ÎåÄÏó¨ÏãúÍ∞ÑÎ≥Ñ Ïù¥Ïö© ÌöüÏàòÏùò ÏÉÅÏúÑ 3Í∞ú ÎåÄÏó¨ÏÜåÏôÄ Ïù¥Ïö©ÌöüÏàòÎ•º Ï∂úÎ†•ÌïòÎùº
### - Ïò§ Ïù¥Í±¥ Ïñ¥Î†µÎÑ§. groupbyÎ•º Ïó¨Îü¨Î≤à Ïç®ÏÑú ÏõêÌïòÎäî ÌòïÌÉúÏùò dfÍ∞Ä ÎÇòÏò¨Ïàò ÏûàÎèÑÎ°ù Í∞ÄÍ≥µ, group objectÏóê `head`Îì±Ïùò Î©îÏèòÎìúÎ•º ÏÇ¨Ïö©ÌïòÏó¨ÏÑú Ï†ïÎ¶¨Ìï†ÏàòÎèÑÏûàÍµ∞

In [287]:
condition1 =(df["day_name"] != "Saturday") & (df["day_name"] != "Sunday")
condition2 = ((df["ÎåÄÏó¨ÏãúÍ∞Ñ"] == 6) | (df["ÎåÄÏó¨ÏãúÍ∞Ñ"] == 7) | (df["ÎåÄÏó¨ÏãúÍ∞Ñ"] == 8))

result = df.loc[condition1 & condition2].groupby(["ÎåÄÏó¨ÏãúÍ∞Ñ", "ÎåÄÏó¨ÏÜåÎ≤àÌò∏"]).size().to_frame("Ïù¥Ïö©ÌöüÏàò")
result.sort_values(by=["ÎåÄÏó¨ÏãúÍ∞Ñ", "Ïù¥Ïö©ÌöüÏàò"], ascending=False).groupby("ÎåÄÏó¨ÏãúÍ∞Ñ").head(3)

            Ïù¥Ïö©ÌöüÏàò
ÎåÄÏó¨ÏãúÍ∞Ñ ÎåÄÏó¨ÏÜåÎ≤àÌò∏
8    2701    119
     646     115
     1152     92
7    259     104
     230      77
     726      77
6    2744     45
     1125     40
     1028     36

In [ ]:
## 39. Ïù¥ÎèôÍ±∞Î¶¨Ïùò ÌèâÍ∑† Ïù¥ÏÉÅÏùò Ïù¥ÎèôÍ±∞Î¶¨ Í∞íÏùÑ Í∞ÄÏßÄÎäî Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïòÏó¨ Ï∂îÏ∂úÎç∞Ïù¥ÌÑ∞Ïùò Ïù¥ÎèôÍ±∞Î¶¨Ïùò ÌëúÎ≥∏ÌëúÏ§ÄÌé∏Ï∞® Í∞íÏùÑ Íµ¨ÌïòÏó¨Îùº

In [297]:

condition1 = df["Ïù¥ÎèôÍ±∞Î¶¨"] >= df["Ïù¥ÎèôÍ±∞Î¶¨"].mean()
df.loc[condition1, ["Ïù¥ÎèôÍ±∞Î¶¨"]].std()

5092.139707505356

In [298]:
## 40. ÎÇ®ÏÑ±(‚ÄòM‚Äô or ‚Äòm‚Äô)Í≥º Ïó¨ÏÑ±(‚ÄòF‚Äô or ‚Äòf‚Äô)Ïùò Ïù¥ÎèôÍ±∞Î¶¨Í∞íÏùò ÌèâÍ∑†Í∞íÏùÑ Íµ¨ÌïòÏó¨Îùº

In [327]:

df['sex']=df['ÏÑ±Î≥Ñ'].map(lambda x : 'ÎÇ®' if x in ['M', 'm'] else 'Ïó¨')
result = df.groupby("sex")["Ïù¥ÎèôÍ±∞Î¶¨"].mean().to_frame("Ïù¥ÎèôÍ±∞Î¶¨ÌèâÍ∑†")
result

          Ïù¥ÎèôÍ±∞Î¶¨ÌèâÍ∑†
sex
ÎÇ®    3209.110871
Ïó¨    3468.575025

### 41~50Î≤à Î¨∏Ï†ú
- nba ÏÑ†Ïàò Îä•Î†•Ïπò Îç∞Ïù¥ÌÑ∞
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò :https://www.kaggle.com/datasets/vivovinco/nba-player-stats(Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)
- Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv

In [329]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv",encoding='latin',sep=';')
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

In [330]:
## 41. Tm Ïª¨ÎüºÏùÄ Í∞Å ÌåÄÏùò Ïù¥Î¶ÑÏùÑ ÏùòÎØ∏ÌïúÎã§. TORÌåÄÏùò ÌèâÍ∑†ÎÇòÏù¥Î•º ÏÜåÏàò 4Ïß∏ ÏûêÎ¶¨ÍπåÏßÄ Íµ¨ÌïòÏó¨Îùº

In [346]:
df.loc[(df["Tm"] == "TOR"), "Age"].mean().round(4)

24.8696

In [ ]:
## 42. Pos Ïª¨ÎüºÏùÄ Ìè¨ÏßÄÏÖòÏùÑ ÏùòÎØ∏ÌïúÎã§. Ï†ÑÏ≤¥ ÏÑ†Ïàò Ï§ë ÏµúÏÜåÎÇòÏù¥ÎåÄÏùò ÏÑ†ÏàòÎì§ÏùÑ ÌïÑÌÑ∞ÌïòÍ≥† Í∑∏Îì§ Ï§ë Í∞ÄÏû• ÎßéÏùÄ Ìè¨ÏßÄÏÖòÏùÄ Î¨¥ÏóáÏù∏ÏßÄ ÌôïÏù∏ÌïòÎùº

In [352]:
df.sort_values(by="Age", ascending=True).drop_duplicates("Player")["Pos"].value_counts().sort_values(ascending=False).head(1).index[0]

'SG'

In [332]:
## 43. ÏÑ†ÏàòÎì§Ïùò Ïù¥Î¶ÑÏùÄ first_name+ Í≥µÎ∞± + last_nameÏúºÎ°ú Ïù¥Î£®Ïñ¥Ï†∏ ÏûàÎã§. Í∞ÄÏû• ÎßéÏùÄ first_nameÏùÄ Î¨¥ÏóáÏù¥Î©∞ Î™á Ìöå Î∞úÏÉùÌïòÎäîÏßÄ ÌôïÏù∏ÌïòÎùº

In [358]:
df["Player"].str.split(' ').apply(lambda x: x[0]).value_counts().sort_values(ascending=False).head(1)

Justin    14
Name: Player, dtype: int64

In [333]:
## 44. PTSÏª¨ÎüºÏùÄ Í≤ΩÍ∏∞Îãπ ÌèâÍ∑†ÎìùÏ†êÏàò Ïù¥Îã§. Í∞ÅÌè¨ÏßÄÏÖòÎ≥ÑÎ°ú Í≤ΩÍ∏∞Îãπ ÌèâÍ∑†ÎìùÏ†êÏàòÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº

In [361]:
df.groupby("Pos")["PTS"].mean()

Pos
C         7.690769
C-PF     12.850000
PF        7.737500
PF-SF     8.500000
PG        8.325161
PG-SG    22.000000
SF        7.270253
SF-SG     8.660000
SG        7.810553
SG-PG     9.525000
SG-SF     7.360000
Name: PTS, dtype: float64

In [336]:
## 45. GÏª¨ÎüºÏùÄ Ï∞∏Ïó¨Ìïú Í≤ΩÍ∏∞Ïùò Ïà´ÏûêÏù¥Îã§. Í∞Å ÌåÄÎ≥ÑÎ°ú Í∞ÄÏû• ÎÜíÏùÄ Í≤ΩÍ∏∞Ï∞∏Ïó¨ ÏàòÎ•º Í∞ÄÏßÑ ÏÑ†ÏàòÎì§Ïùò Í≤ΩÍ∏∞ Ï∞∏Ïó¨ Ïà´ÏûêÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº
### - `.groupby`Î©îÏèòÎìúÎ•º Ïó∞ÏÜçÏúºÎ°ú 2Î≤àÏç®ÏÑú ÌïòÎäîÍ±¥ Ïó¨Ï†ÑÌûà Ìó∑Í∞àÎ¶¨ÎÑ§.

In [404]:
df.groupby(["Tm", "Player"]).sum().groupby("Tm").max("G")["G"].mean()

77.51612903225806

In [397]:
## 46. TmÏùò Í∞íÏù¥ MIAÏù¥Î©∞ PosÎäî CÎòêÎäî PFÏù∏ ÏÑ†ÏàòÏùò MPÍ∞íÏùò ÌèâÍ∑†ÏùÄ?

In [407]:
df.loc[(df["Tm"]=="MIA") & ((df["Pos"]=="C") | (df["Pos"]=="PF")), "MP"].mean()

16.7875

In [338]:
## 47. Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Ï§ë GÏùò ÌèâÍ∑†Í∞íÏùò 1.5Î∞∞ Ïù¥ÏÉÅÏù∏ Îç∞Ïù¥ÌÑ∞Îì§Îßå Ï∂îÏ∂úÌñàÏùÑÎïå 3PÍ∞íÏùò ÌèâÍ∑†ÏùÄ?

In [411]:
df.loc[(df["G"] >= df["G"].mean()*1.5), "3P"].mean()

1.3853658536585365

In [340]:
## 48. AgeÏùò ÌèâÍ∑† Ïù¥ÏÉÅÏù∏ Í∑∏Î£πÍ≥º ÌèâÍ∑† ÎØ∏ÎßåÏù∏ Í∑∏Î£πÍ∞ÑÏùò GÍ∞íÏùò ÌèâÍ∑†Ïùò Ï∞®Ïù¥Îäî?

In [412]:
condition1 = (df["Age"] >= df["Age"].mean())
condition2 = (df["Age"] < df["Age"].mean())

df.loc[condition1, "G"].mean() - df.loc[condition2, "G"].mean()

3.787674551781862

In [341]:
## 49. ÌèâÍ∑†ÎÇòÏù¥Í∞Ä Í∞ÄÏû• Ï†äÏùÄ ÌåÄÏùÄ Ïñ¥ÎîîÏù∏Í∞Ä

In [413]:
df.groupby("Tm")["Age"].mean().sort_values(ascending=True).head(1)

Tm
MEM    23.782609
Name: Age, dtype: float64

In [342]:
## 50. PosÍ∑∏Î£πÎ≥Ñ ÌèâÍ∑† MPÍ∞íÏùÑ Íµ¨ÌïòÏó¨Îùº

In [414]:
df.groupby("Pos")["MP"].mean()

Pos
C        16.990000
C-PF     25.350000
PF       17.937500
PF-SF    27.300000
PG       19.547742
PG-SG    37.200000
SF       17.514557
SF-SG    20.340000
SG       18.554271
SG-PG    22.950000
SG-SF    19.620000
Name: MP, dtype: float64

### 51~60Î≤à Î¨∏Ï†ú
- Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò :https://www.kaggle.com/unsdsn/world-happiness(Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)  
- Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö : Ï†ÑÏÑ∏Í≥Ñ ÌñâÎ≥µÎèÑ ÏßÄÌëú Ï°∞ÏÇ¨  
- data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv

In [1]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,ÌñâÎ≥µÎû≠ÌÇπ,ÎÇòÎùºÎ™Ö,Ï†êÏàò,ÏÉÅÎåÄGDP,ÏÇ¨ÌöåÏ†ÅÏßÄÏõê,ÌñâÎ≥µÍ∏∞ÎåÄÏπò,ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ,Í¥ÄÎåÄÌï®,Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù,ÎÖÑÎèÑ
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [ ]:
## 51. Îç∞Ïù¥ÌÑ∞Îäî 2018ÎÖÑÎèÑÏôÄ 2019ÎÖÑÎèÑÏùò Ï†ÑÏÑ∏Í≥Ñ ÌñâÎ≥µ ÏßÄÏàòÎ•º ÌëúÌòÑÌïúÎã§. Í∞ÅÎÖÑÎèÑÏùò ÌñâÎ≥µÎû≠ÌÇπ 10ÏúÑÎ•º Ï∞®ÏßÄÌïú ÎÇòÎùºÏùò ÌñâÎ≥µÏ†êÏàòÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº

In [13]:
df.loc[df["ÌñâÎ≥µÎû≠ÌÇπ"]==10].groupby("ÎÖÑÎèÑ")["Ï†êÏàò"].mean().to_frame("ÌñâÎ≥µÏ†êÏàò ÌèâÍ∑†")
df.loc[df["ÌñâÎ≥µÎû≠ÌÇπ"]==10]["Ï†êÏàò"].mean()

7.259

In [2]:
## 52. Îç∞Ïù¥ÌÑ∞Îäî 2018ÎÖÑÎèÑÏôÄ 2019ÎÖÑÎèÑÏùò Ï†ÑÏÑ∏Í≥Ñ ÌñâÎ≥µ ÏßÄÏàòÎ•º ÌëúÌòÑÌïúÎã§. Í∞ÅÎÖÑÎèÑÏùò ÌñâÎ≥µÎû≠ÌÇπ 50ÏúÑÏù¥ÎÇ¥Ïùò ÎÇòÎùºÎì§Ïùò Í∞ÅÍ∞ÅÏùò ÌñâÎ≥µÏ†êÏàò ÌèâÍ∑†ÏùÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÏãúÌïòÎùº

In [32]:
def in_fifty_rank(x):
    x=x.sort_values(by="ÌñâÎ≥µÎû≠ÌÇπ")
    x=x.loc[x["ÌñâÎ≥µÎû≠ÌÇπ"] <= 50]
    return x.mean()

df.groupby("ÎÖÑÎèÑ").apply(lambda x: in_fifty_rank(x))[["Ï†êÏàò"]]

           Ï†êÏàò
ÎÖÑÎèÑ
2018  6.64678
2019  6.67002

In [3]:
## 53. 2018ÎÖÑÎèÑ Îç∞Ïù¥ÌÑ∞Îì§Îßå Ï∂îÏ∂úÌïòÏó¨ ÌñâÎ≥µÏ†êÏàòÏôÄ Î∂ÄÌå®Ïóê ÎåÄÌïú Ïù∏ÏãùÏóê ÎåÄÌïú ÏÉÅÍ¥ÄÍ≥ÑÏàòÎ•º Íµ¨ÌïòÏó¨Îùº

In [38]:
corr = df.loc[df["ÎÖÑÎèÑ"] == 2018].corr()
corr["Ï†êÏàò"]["Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù"]

0.4052915227150998

In [4]:
## 54. 2018ÎÖÑÎèÑÏôÄ 2019ÎÖÑÎèÑÏùò ÌñâÎ≥µÎû≠ÌÇπÏù¥ Î≥ÄÌôîÌïòÏßÄ ÏïäÏùÄ ÎÇòÎùºÎ™ÖÏùò ÏàòÎ•º Íµ¨ÌïòÏó¨Îùº

In [39]:
df.head(3)

   ÌñâÎ≥µÎû≠ÌÇπ      ÎÇòÎùºÎ™Ö     Ï†êÏàò  ÏÉÅÎåÄGDP  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê  ÌñâÎ≥µÍ∏∞ÎåÄÏπò  ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ    Í¥ÄÎåÄÌï®  Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù    ÎÖÑÎèÑ
0     1  Finland  7.769  1.340  1.587  0.986    0.596  0.153     0.393  2019
1     2  Denmark  7.600  1.383  1.573  0.996    0.592  0.252     0.410  2019
2     3   Norway  7.554  1.488  1.582  1.028    0.603  0.271     0.341  2019

In [57]:
eight = df.loc[df["ÎÖÑÎèÑ"] == 2018][["ÎÇòÎùºÎ™Ö", "ÌñâÎ≥µÎû≠ÌÇπ"]]
nine = df.loc[df["ÎÖÑÎèÑ"] == 2019][["ÎÇòÎùºÎ™Ö", "ÌñâÎ≥µÎû≠ÌÇπ"]]
merge = pd.merge(eight,nine, on="ÎÇòÎùºÎ™Ö")
((merge["ÌñâÎ≥µÎû≠ÌÇπ_x"] - merge["ÌñâÎ≥µÎû≠ÌÇπ_y"]) == 0).sum()

15

In [5]:
## 55. 2019ÎÖÑÎèÑ Îç∞Ïù¥ÌÑ∞Îì§Îßå Ï∂îÏ∂úÌïòÏó¨ Í∞ÅÎ≥ÄÏàòÍ∞Ñ ÏÉÅÍ¥ÄÍ≥ÑÏàòÎ•º Íµ¨ÌïòÍ≥† ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨Ìïú ÌõÑ ÏÉÅÏúÑ 5Í∞úÎ•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú Ï∂úÎ†•ÌïòÎùº. Ïª¨ÎüºÎ™ÖÏùÄ v1,v2,corrÏúºÎ°ú ÌëúÏãúÌïòÎùº

In [103]:
corr = df[df["ÎÖÑÎèÑ"]==2019].corr().unstack().reset_index().dropna()
corr=corr.sort_values(by=0, ascending=False)[corr[0] != 1].drop_duplicates(0)
corr.loc[:, 0] = corr.loc[:,0].apply(abs)
corr.rename(columns = {"level_0": "v1", "level_1": "v2", 0: "corr"}).drop_duplicates(["v1", "v2"]).head(5).reset_index(drop=True)

/home/joker1251/anaconda3/envs/bigdata_cert/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

      v1     v2      corr
0  ÌñâÎ≥µÍ∏∞ÎåÄÏπò  ÏÉÅÎåÄGDP  0.835462
1     Ï†êÏàò  ÏÉÅÎåÄGDP  0.793883
2  ÌñâÎ≥µÍ∏∞ÎåÄÏπò     Ï†êÏàò  0.779883
3     Ï†êÏàò  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê  0.777058
4  ÏÉÅÎåÄGDP  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê  0.754906

In [6]:
## 56. Í∞Å ÎÖÑÎèÑÎ≥Ñ ÌïòÏúÑ ÌñâÎ≥µÏ†êÏàòÏùò ÌïòÏúÑ 5Í∞ú Íµ≠Í∞ÄÏùò ÌèâÍ∑† ÌñâÎ≥µÏ†êÏàòÎ•º Íµ¨ÌïòÏó¨Îùº

In [138]:
def lower_five(x):
    x = x.sort_values(by="Ï†êÏàò", ascending=True)
    x = x.head(5)["Ï†êÏàò"].mean()
    return x

df.groupby(["ÎÖÑÎèÑ"]).apply(lower_five)

ÎÖÑÎèÑ
2018    3.1800
2019    3.1408
dtype: float64

In [7]:
## 57. 2019ÎÖÑ Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïòÍ≥† Ìï¥ÎãπÎç∞Ïù¥ÌÑ∞Ïùò ÏÉÅÎåÄ GDP ÌèâÍ∑† Ïù¥ÏÉÅÏùò ÎÇòÎùºÎì§Í≥º ÌèâÍ∑† Ïù¥ÌïòÏùò ÎÇòÎùºÎì§Ïùò ÌñâÎ≥µÏ†êÏàò ÌèâÍ∑†ÏùÑ Í∞ÅÍ∞Å Íµ¨ÌïòÍ≥† Í∑∏ Ï∞®Ïù¥Í∞íÏùÑ Ï∂úÎ†•ÌïòÎùº

In [182]:

a = df.loc[df["ÎÖÑÎèÑ"]==2019]

condition1 = (a["ÏÉÅÎåÄGDP"] >= a["ÏÉÅÎåÄGDP"].mean())
condition2 = (a["ÏÉÅÎåÄGDP"] <= a["ÏÉÅÎåÄGDP"].mean())

a.loc[condition1, "Ï†êÏàò"].mean()-a.loc[condition2, "Ï†êÏàò"].mean()

1.390483957219251

In [8]:
## 58. Í∞ÅÎÖÑÎèÑÏùò Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏ÏãùÏùÑ ÎÇ¥Î¶ºÏ∞®Ïàú Ï†ïÎ†¨ÌñàÏùÑÎïå ÏÉÅÏúÑ 20Í∞ú Íµ≠Í∞ÄÏùò Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏ÏãùÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº

In [183]:
df.head(3)

   ÌñâÎ≥µÎû≠ÌÇπ      ÎÇòÎùºÎ™Ö     Ï†êÏàò  ÏÉÅÎåÄGDP  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê  ÌñâÎ≥µÍ∏∞ÎåÄÏπò  ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ    Í¥ÄÎåÄÌï®  Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù    ÎÖÑÎèÑ
0     1  Finland  7.769  1.340  1.587  0.986    0.596  0.153     0.393  2019
1     2  Denmark  7.600  1.383  1.573  0.996    0.592  0.252     0.410  2019
2     3   Norway  7.554  1.488  1.582  1.028    0.603  0.271     0.341  2019

In [8]:
def custom(x):
    x=x.sort_values(by="Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù", ascending=False).head(20)
    return x.mean()["Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù"]

df.groupby("ÎÖÑÎèÑ").apply(custom).to_frame("Î∂ÄÌå®Ïù∏Ïãù")

     ÌñâÎ≥µÎû≠ÌÇπ                       ÎÇòÎùºÎ™Ö     Ï†êÏàò  ÏÉÅÎåÄGDP  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê  ÌñâÎ≥µÍ∏∞ÎåÄÏπò  ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ  \
156     1                   Finland  7.632  1.305  1.592  0.874    0.681
157     2                    Norway  7.594  1.456  1.582  0.861    0.686
158     3                   Denmark  7.555  1.351  1.590  0.868    0.683
159     4                   Iceland  7.495  1.343  1.644  0.914    0.677
160     5               Switzerland  7.487  1.420  1.549  0.927    0.660
..    ...                       ...    ...    ...    ...    ...      ...
307   152                     Yemen  3.355  0.442  1.073  0.343    0.244
308   153                  Tanzania  3.303  0.455  0.991  0.381    0.481
309   154               South Sudan  3.254  0.337  0.608  0.177    0.112
310   155  Central African Republic  3.083  0.024  0.000  0.010    0.305
311   156                   Burundi  2.905  0.091  0.627  0.145    0.065

       Í¥ÄÎåÄÌï®  Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù    ÎÖÑÎèÑ
156  0.202     0.393  2018
157  0.286     0.340  2018
158  0.284     0.408  2018
159  0.353     0.138  2018
160  0.256     0.357  2018
..     ...       ...   ...
307  0.083     0.064  2018
308  0.270     0.097  2018
309  0.224     0.106  2018
310  0.218     0.038  2018
311  0.149     0.076  2018

[156 rows x 10 columns]
     ÌñâÎ≥µÎû≠ÌÇπ                       ÎÇòÎùºÎ™Ö     Ï†êÏàò  ÏÉÅÎåÄGDP  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê  ÌñâÎ≥µÍ∏∞ÎåÄÏπò  ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ  \
0       1                   Finland  7.769  1.340  1.587  0.986    0.596
1       2                   Denmark  7.600  1.383  1.573  0.996    0.592
2       3                    Norway  7.554  1.488  1.582  1.028    0.603
3       4                   Iceland  7.494  1.380  1.624  1.026    0.591
4       5               Netherlands  7.488  1.396  1.522  0.999    0.557
..    ...                       ...    ...    ...    ...    ...      ...
151   152                    Rwanda  3.334  0.359  0.711  0.614    0.555
152   153                  Tanzania  3.231  0.476  0.885  0.499    0.417
153   154               Afghanistan  3.203  0.350  0.517  0.361    0.000
154   155  Central African Republic  3.083  0.026  0.000  0.105    0.225
155   156               South Sudan  2.853  0.306  0.575  0.295    0.010

       Í¥ÄÎåÄÌï®  Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù    ÎÖÑÎèÑ
0    0.153     0.393  2019
1    0.252     0.410  2019
2    0.271     0.341  2019
3    0.354     0.118  2019
4    0.322     0.298  2019
..     ...       ...   ...
151  0.217     0.411  2019
152  0.276     0.147  2019
153  0.158     0.025  2019
154  0.235     0.035  2019
155  0.202     0.091  2019

[156 rows x 10 columns]

        Î∂ÄÌå®Ïù∏Ïãù
ÎÖÑÎèÑ
2018  0.3267
2019  0.3201

In [9]:
## 59. 2018ÎÖÑÎèÑ ÌñâÎ≥µÎû≠ÌÇπ 50ÏúÑ Ïù¥ÎÇ¥Ïóê Ìè¨Ìï®ÎêêÎã§Í∞Ä 2019ÎÖÑ 50ÏúÑ Î∞ñÏúºÎ°ú Î∞ÄÎ†§ÎÇú Íµ≠Í∞ÄÏùò Ïà´ÏûêÎ•º Íµ¨ÌïòÏó¨Îùº

In [210]:
def custom(x):
    x1 = x.loc[(x["ÎÖÑÎèÑ"] == 2018) & (x["ÌñâÎ≥µÎû≠ÌÇπ"] <= 50)]
    x2 = x.loc[(x["ÎÖÑÎèÑ"] == 2019) & (x["ÌñâÎ≥µÎû≠ÌÇπ"] >= 50)]


    if (not x1.empty) & (not x2.empty):
        return 1
    else:
        return 0

df.groupby("ÎÇòÎùºÎ™Ö").apply(custom).sum()

4

In [10]:
## 60. 2018ÎÖÑ,2019ÎÖÑ Î™®Îëê Í∏∞Î°ùÏù¥ ÏûàÎäî ÎÇòÎùºÎì§ Ï§ë ÎÖÑÎèÑÎ≥Ñ ÌñâÎ≥µÏ†êÏàòÍ∞Ä Í∞ÄÏû• Ï¶ùÍ∞ÄÌïú ÎÇòÎùºÏôÄ Í∑∏ Ï¶ùÍ∞Ä ÏàòÏπòÎäî?
# - ÏïÑÎûò ÏΩîÎìúÎäî ÎßûÎäî ÎãµÏùÄ ÏïÑÎãò

In [250]:
def custom(x):
    x=x.reset_index(drop=True)
    if len(x)==2:
        return x["Ï†êÏàò"][0] - x["Ï†êÏàò"][1]
    else:
        return 0

df.groupby(["ÎÇòÎùºÎ™Ö"]).apply(custom).sort_values(ascending=False).head(1)

ÎÇòÎùºÎ™Ö
Burundi    0.87
dtype: float64

In [211]:
df.head()

,ÌñâÎ≥µÎû≠ÌÇπ,ÎÇòÎùºÎ™Ö,Ï†êÏàò,ÏÉÅÎåÄGDP,ÏÇ¨ÌöåÏ†ÅÏßÄÏõê,ÌñâÎ≥µÍ∏∞ÎåÄÏπò,ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ,Í¥ÄÎåÄÌï®,Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù,ÎÖÑÎèÑ
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [ ]:
#### .fillna(backfill, ffill) Ïù¥Îü∞Í±∞ Ïç®ÏÑú Í≤∞Ï∏°Ïπò Ï±ÑÏö∞ÎäîÍ±∞ Ïó∞ÏäµÌï¥Î≥¥Í∏∞ (6/19)

In [33]:
import numpy as np
df.head(15)

,ÌñâÎ≥µÎû≠ÌÇπ,ÎÇòÎùºÎ™Ö,Ï†êÏàò,ÏÉÅÎåÄGDP,ÏÇ¨ÌöåÏ†ÅÏßÄÏõê,ÌñâÎ≥µÍ∏∞ÎåÄÏπò,ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ,Í¥ÄÎåÄÌï®,Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù,ÎÖÑÎèÑ
0,1,None,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,NaN,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343,2019
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373,2019
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380,2019
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308,2019
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226,2019
10,11,Australia,7.228,1.372,1.548,1.036,0.557,0.332,0.290,2019
11,12,Costa Rica,7.167,1.034,1.441,0.963,0.558,0.144,0.093,2019
12,13,Israel,7.139,1.276,1.455,1.029,0.371,0.261,0.082,2019
13,14,Luxembourg,7.090,1.609,1.479,1.012,0.526,0.194,0.316,2019
14,15,United Kingdom,7.054,1.333,1.538,0.996,0.450,0.348,0.278,2019

In [53]:
df.loc[df["ÎÇòÎùºÎ™Ö"]=="", "ÎÇòÎùºÎ™Ö"]="Norway"
df.loc[[5,10,15,19],"Í¥ÄÎåÄÌï®"]=np.NaN

In [69]:
df["ÎÇòÎùºÎ™Ö"].fillna(method="bfill")

0                        Norway
1                        Norway
2                        Norway
3                       Iceland
4                   Netherlands
                 ...
307                       Yemen
308                    Tanzania
309                 South Sudan
310    Central African Republic
311                     Burundi
Name: ÎÇòÎùºÎ™Ö, Length: 312, dtype: object

In [70]:
df["ÎÇòÎùºÎ™Ö"].fillna("ggg")

0                           ggg
1                           ggg
2                        Norway
3                       Iceland
4                   Netherlands
                 ...
307                       Yemen
308                    Tanzania
309                 South Sudan
310    Central African Republic
311                     Burundi
Name: ÎÇòÎùºÎ™Ö, Length: 312, dtype: object

In [57]:
df["Í¥ÄÎåÄÌï®"].head(20)

0       NaN
1       NaN
2       NaN
3       NaN
4     0.322
5       NaN
6     0.267
7     0.330
8     0.285
9     0.244
10      NaN
11    0.144
12    0.261
13    0.194
14    0.348
15      NaN
16    0.261
17    0.160
18    0.280
19      NaN
Name: Í¥ÄÎåÄÌï®, dtype: float64

In [67]:
df["Í¥ÄÎåÄÌï®"].interpolate(method="values", limit_direction="forward").head(20)

0        NaN
1        NaN
2        NaN
3        NaN
4     0.3220
5     0.2945
6     0.2670
7     0.3300
8     0.2850
9     0.2440
10    0.1940
11    0.1440
12    0.2610
13    0.1940
14    0.3480
15    0.3045
16    0.2610
17    0.1600
18    0.2800
19    0.2710
Name: Í¥ÄÎåÄÌï®, dtype: float64

In [68]:
df["Í¥ÄÎåÄÌï®"].interpolate(method="values", limit_direction="backward").head(20)

0     0.3220
1     0.3220
2     0.3220
3     0.3220
4     0.3220
5     0.2945
6     0.2670
7     0.3300
8     0.2850
9     0.2440
10    0.1940
11    0.1440
12    0.2610
13    0.1940
14    0.3480
15    0.3045
16    0.2610
17    0.1600
18    0.2800
19    0.2710
Name: Í¥ÄÎåÄÌï®, dtype: float64

In [2]:
df.head(3)

   ÌñâÎ≥µÎû≠ÌÇπ      ÎÇòÎùºÎ™Ö     Ï†êÏàò  ÏÉÅÎåÄGDP  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê  ÌñâÎ≥µÍ∏∞ÎåÄÏπò  ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ    Í¥ÄÎåÄÌï®  Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù    ÎÖÑÎèÑ
0     1  Finland  7.769  1.340  1.587  0.986    0.596  0.153     0.393  2019
1     2  Denmark  7.600  1.383  1.573  0.996    0.592  0.252     0.410  2019
2     3   Norway  7.554  1.488  1.582  1.028    0.603  0.271     0.341  2019

In [33]:
df["Ï†êÏàò"].apply(int)

0      7
1      7
2      7
3      7
4      7
      ..
307    3
308    3
309    3
310    3
311    2
Name: Ï†êÏàò, Length: 312, dtype: int64

In [26]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,ÌñâÎ≥µÎû≠ÌÇπ,ÎÇòÎùºÎ™Ö,Ï†êÏàò,ÏÉÅÎåÄGDP,ÏÇ¨ÌöåÏ†ÅÏßÄÏõê,ÌñâÎ≥µÍ∏∞ÎåÄÏπò,ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ,Í¥ÄÎåÄÌï®,Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù,ÎÖÑÎèÑ
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [8]:
df.loc[[0,1,2,3,4,10], "ÌñâÎ≥µÎû≠ÌÇπ"] = None

In [12]:
df.dropna(axis=0, inplace=True)

In [14]:
from scipy.stats import skew

In [19]:
ne_columns = df.select_dtypes(exclude='object').columns

In [20]:
ne_columns

Index(['Ï†êÏàò', 'ÏÉÅÎåÄGDP', 'ÏÇ¨ÌöåÏ†ÅÏßÄÏõê', 'ÌñâÎ≥µÍ∏∞ÎåÄÏπò', 'ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ', 'Í¥ÄÎåÄÌï®', 'Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù', 'ÎÖÑÎèÑ'], dtype='object')

In [27]:
df[ne_columns]

        Ï†êÏàò  ÏÉÅÎåÄGDP  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê  ÌñâÎ≥µÍ∏∞ÎåÄÏπò  ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ    Í¥ÄÎåÄÌï®  Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù    ÎÖÑÎèÑ
0    7.769  1.340  1.587  0.986    0.596  0.153     0.393  2019
1    7.600  1.383  1.573  0.996    0.592  0.252     0.410  2019
2    7.554  1.488  1.582  1.028    0.603  0.271     0.341  2019
3    7.494  1.380  1.624  1.026    0.591  0.354     0.118  2019
4    7.488  1.396  1.522  0.999    0.557  0.322     0.298  2019
..     ...    ...    ...    ...      ...    ...       ...   ...
307  3.355  0.442  1.073  0.343    0.244  0.083     0.064  2018
308  3.303  0.455  0.991  0.381    0.481  0.270     0.097  2018
309  3.254  0.337  0.608  0.177    0.112  0.224     0.106  2018
310  3.083  0.024  0.000  0.010    0.305  0.218     0.038  2018
311  2.905  0.091  0.627  0.145    0.065  0.149     0.076  2018

[312 rows x 8 columns]

In [21]:
df[ne_columns].apply(skew)

Ï†êÏàò         -0.016613
ÏÉÅÎåÄGDP      -0.357730
ÏÇ¨ÌöåÏ†ÅÏßÄÏõê      -1.113100
ÌñâÎ≥µÍ∏∞ÎåÄÏπò      -0.522146
ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ    -0.611675
Í¥ÄÎåÄÌï®         0.843005
Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù    1.734888
ÎÖÑÎèÑ          0.032791
dtype: float64

In [24]:
import numpy as np
df[ne_columns]=df[ne_columns].apply(lambda x: np.log1p(x) if abs(skew(x)) > 0.3 else x)

In [39]:
df.loc[[1, 5,6,7], "Ï†êÏàò"] = -100

In [40]:
df["Ï†êÏàò"].apply(np.log1p).head(20)

0     2.171223
1          NaN
2     2.146399
3     2.139360
4     2.138653
5          NaN
6          NaN
7          NaN
8     2.113601
9     2.109728
10    2.107543
11    2.100102
12    2.096667
13    2.090629
14    2.086169
15    2.082063
16    2.077565
17    2.069770
18    2.065850
19    2.060768
Name: Ï†êÏàò, dtype: float64