## 빅데이분석기사 실기준비
--- 
> 작성자: 이성욱  
> 작성일: '22.6/17  
- 작업1유형 대비 (문제사이트: https://www.datamanim.com/dataset/03_dataq/typeone.html)
- 빅분기 실기환경 체험사이트: https://goor.me/EvH8T
---

### 문제 1~10번
- 데이터 출처 : https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv
- 데이터 설명 : 유튜브 데일리 인기동영상 (한국)
- dataurl : https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [43]:
## 1. 인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함) 
### df.loc[df["channelId"].isin(df["channelId"].value_counts().sort_values(ascending=False).head(10).index), ["channelTitle"]]["channelTitle"].unique().tolist()
channels_array = df.loc[df["channelId"].isin(df["channelId"].value_counts().sort_values(ascending=False)[0:10].index), "channelTitle"].unique()
channels_list = list(channels_array)
print(channels_list)

['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV']

In [46]:
## 2. 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislike수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라
channel_array = df.loc[df["dislikes"] > df["likes"], "channelTitle"].unique()
channel_list = list(channel_array)
print(channel_list)

['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang', '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈', '나혼자산다 STUDIO', 'Gen.G esports']

In [103]:
## 3. 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라
'''
- 이건 하는법 처음 알았다. 조건에 따라서 dataframe 다루는거 좀 외워야겠네? ㅎㅎ
'''
change = df.drop_duplicates(['channelId', 'channelTitle'])["channelId"].value_counts()
target = change[change>1]
print(len(target))

71

In [130]:
## 4. 일요일에 인기있었던 영상들 중 가장 많은 영상 종류(categoryId)는 무엇인가?
'''
- dataframe 데이터 datetime 으로 다루는 방법 `pd.to_datetime`, `.dt.day_name()`
'''
answer = df.loc[pd.to_datetime(df["trending_date2"]).dt.day_name()=="Sunday", "categoryId"].value_counts().index[0]
print(answer)

24

In [145]:
## 5. 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라
'''
- `groupby` 메쏘드와 `pivot`의 조합으로 이렇게도 가능하구나
'''
group = df.groupby([pd.to_datetime(df["trending_date2"]).dt.day_name(), "categoryId"], as_index=False).size()
answer = group.pivot(index="categoryId", columns="trending_date2")
answer

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [171]:
## 6. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)
'''
- loc: df.loc[0] #인덱스명이 0인 데이터로 접근, df.loc[0:2,['a','b']]
- iloc: df.iloc[0] #인덱스의 위치가 0인 데이터로 접근, df.iloc[0:2,:]
'''
new_df = df.loc[(df["comment_count"] != 0) & (df["view_count"] !=0), ["title", "comment_count", "view_count"]]

ratio = (df["comment_count"] / new_df["view_count"]).dropna()
new_df.loc[ratio.sort_values(ascending=False).index[0]]["title"]

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

In [203]:
## 7. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_count값이 0인 경우는 제외한다.)

new_df = df.loc[(df["view_count"]!=0) & (df["comment_count"]!=0)]
new_df['ratio'] = (new_df["comment_count"]/new_df["view_count"]).dropna()
result = new_df.loc[new_df.sort_values(by='ratio', ascending=True).index[0], "title"]
print(result)

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

/home/joker1251/anaconda3/envs/bigdata_cert/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [205]:
## 8. like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

new_df = df.loc[(df["likes"]!=0)&(df["dislikes"]!=0)]
new_df['ratio'] = (new_df["dislikes"] / df["likes"])
result = new_df.loc[new_df.sort_values(by='ratio', ascending=True).index[0], "title"]
print(result)

[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰

/home/joker1251/anaconda3/envs/bigdata_cert/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [238]:
## 9. 가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)
answer = df.loc[df["channelId"]==df["channelId"].value_counts().index[0], "channelTitle"].unique()[0]
print(answer)

짤툰

In [239]:
## 10. 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?
'''
- 아래처럼 칼럼을 묶어서 `.value_count()`도 가능함
- `.sum()`은 True만을 더해줌
'''
answer = (df[["channelId", "title"]].value_counts()>=20).sum()
print(answer)

40

### 11~20번
- 데이터 출처 :https://www.kaggle.com/kukuroo3/youtube-episodic-contents-kr(참고, 데이터 수정)
- 데이터 설명 : 유튜브 “공범” 컨텐츠 동영상 정보 ( 10분 간격 수집)
- dataurl1 (비디오 정보) = https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv
- dataurl2 (참가자 채널 정보)= https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv

In [2]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')

video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

In [3]:
channel.head()

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

In [4]:
## 11. 각 데이터의 ‘ct’컬럼을 시간으로 인식할수 있게 datatype을 변경하고 video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라

In [7]:
video["new_ct"] = pd.to_datetime(video["ct"])
channel["new_ct"] = pd.to_datetime(channel["ct"])

video["videoname"].value_counts()

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

In [8]:
## 12. 수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라

In [20]:
video.sort_values(by="new_ct", ascending=False).drop_duplicates(["videoname"])[["viewcnt","videoname","new_ct"]].sort_values(by="videoname",ascending=True)

       viewcnt videoname              new_ct
3491   3180532    공범 EP1 2021-11-01 15:30:03
6695   2199328    공범 EP2 2021-11-01 15:30:03
9263   1671294    공범 EP3 2021-11-01 15:30:03
11543  1818493    공범 EP4 2021-11-01 15:30:03
13105  1503435    공범 EP5 2021-11-01 15:30:04
14934  1750222    공범 EP6 2021-11-01 15:30:04
13660  1630200    공범 EP7 2021-11-01 15:30:05
15200  1289088    공범 EP8 2021-11-01 15:30:05

In [21]:
## 13. Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라

In [28]:
channel.loc[channel["new_ct"] > '2021-10-03', ['channelname', 'subcnt', 'new_ct']].sort_values(by='new_ct', ascending=True).drop_duplicates(['channelname'])

          channelname   subcnt              new_ct
393            논리왕 전기   922000 2021-10-03 03:01:02
266        츄정ChuJeong   322000 2021-10-03 03:01:02
139             야전삽짱재   257000 2021-10-03 03:01:02
901        김농밀의 농밀한 삶     7520 2021-10-03 03:01:03
520   와글와글 WagleWagle    55000 2021-10-03 03:01:03
1028      릴펄 Lilpearl    10100 2021-10-03 03:01:03
774           형사!탐정되다    14900 2021-10-03 03:01:03
647               조나단   215000 2021-10-03 03:01:03
12                꽈뚜룹  1330000 2021-10-03 03:01:04
1276    Balming Tiger    54300 2021-10-03 03:01:04
1155    곽토리 kwak tori   471000 2021-10-03 03:01:04

In [29]:
## 14. 각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라

In [106]:
end = channel.loc[channel["new_ct"].dt.strftime("%Y-%m-%d %H") == '2021-11-01 15']
start = channel.loc[channel["new_ct"].dt.strftime("%Y-%m-%d %H") == '2021-10-03 03']

end_df = end[['channelname', 'subcnt']].reset_index(drop=True)
start_df = start[['channelname', 'subcnt']].reset_index(drop=True)

end_df.rename(columns={"subcnt":"end_sub"}, inplace=True)
start_df.rename(columns={"subcnt":"start_sub"}, inplace=True)

end_df.index = end_df["channelname"]
end_df.drop("channelname", axis=1, inplace=True)

start_df.index = start_df["channelname"]
start_df.drop("channelname", axis=1, inplace=True)

tt = pd.concat([start_df, end_df], axis=1)
tt['del'] = tt['end_sub'] - tt['start_sub']
tt=tt.rename_axis("channelname").reset_index() # 인덱스를 칼럼으로(as "channename") 바꾸는 방법, 또는 video.reset_index().rename(columns={"index":"index2"})도 가능
result = tt[["channelname", 'del']]
result

        channelname    del
0               꽈뚜룹  70000
1             야전삽짱재  11000
2        츄정ChuJeong   1000
3            논리왕 전기 -11000
4   와글와글 WagleWagle      0
5               조나단  12000
6           형사!탐정되다  10300
7        김농밀의 농밀한 삶   1540
8       릴펄 Lilpearl  11000
9     곽토리 kwak tori  -2000
10    Balming Tiger   2500

In [107]:
## 15. 각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다. 공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라

In [144]:
import datetime
new_video = video.copy()
new_video = new_video.loc[new_video["videoname"].str.contains("1")].sort_values(by="new_ct", ascending=True)
new_video["diff_ct"] = new_video["new_ct"].diff(1)

condition = (new_video["diff_ct"] >= datetime.timedelta(minutes=20)) | (new_video["diff_ct"] <= datetime.timedelta(minutes=5)) 
newnew_video = new_video.loc[condition]

list_idx = []
for i in newnew_video.index:
    list_idx.append(i-1)
    list_idx.append(i)
    list_idx.append(i+1)

new_video.loc[list_idx].drop_duplicates()

In [178]:
## 16. 각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라

In [196]:
video.sort_values(by="new_ct", ascending=True).drop_duplicates('videoname')[["new_ct", "videoname"]].rename(columns={"new_ct":"date"})

                     date videoname
10    2021-10-07 19:10:03    공범 EP1
3496  2021-10-09 19:10:03    공범 EP2
6696  2021-10-14 19:10:04    공범 EP3
9264  2021-10-16 19:10:04    공범 EP4
11544 2021-10-21 19:10:04    공범 EP5
13661 2021-10-23 19:10:04    공범 EP6
13106 2021-10-28 19:10:04    공범 EP7
14935 2021-10-30 19:20:04    공범 EP8

In [ ]:
## 17. “공범” 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다. 공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라

In [243]:
video.loc[video["new_ct"].dt.strftime("%H:%M") =="21:00", ["viewcnt", "new_ct", "videoname"]].sort_values(by="viewcnt", ascending=False).drop_duplicates("videoname", keep="last")

       viewcnt              new_ct videoname
14945   264029 2021-10-30 21:00:08    공범 EP8
13117   252032 2021-10-28 21:00:04    공범 EP7
9275    217674 2021-10-16 21:00:04    공범 EP4
13672   213899 2021-10-23 21:00:06    공범 EP6
11555   201179 2021-10-21 21:00:04    공범 EP5
3507    148144 2021-10-09 21:00:03    공범 EP2
6707    147183 2021-10-14 21:00:04    공범 EP3
21      117340 2021-10-07 21:00:03    공범 EP1

In [244]:
## 18. video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고 videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라

In [253]:
new_video = video.sort_values(by="new_ct", ascending=False).drop_duplicates("videoname")
new_video = new_video.loc[new_video["likecnt"] != 0]

new_video["ratio"] = new_video["dislikecnt"] / new_video["likecnt"]
new_video.sort_values(by="ratio", ascending=True)[["videoname", "ratio"]].reset_index()

   index videoname     ratio
0  13660    공범 EP7  0.013636
1  14934    공범 EP6  0.015881
2  11543    공범 EP4  0.017971
3  13105    공범 EP5  0.021128
4   9263    공범 EP3  0.022360
5   3491    공범 EP1  0.027118
6   6695    공범 EP2  0.029844
7  15200    공범 EP8  0.141357

In [254]:
## 19. 2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오
### 이건 어렵네. 나는 날짜마다의 증감량을 보고싶은데 아래 솔루션은 증감량의 절대값만을 보여줄수 있으니....,
### groupby 메쏘드가 그루핑해서 산술정보나 전처리할때 사용하면 되는 메쏘드구나.

In [300]:
def check(x):
    return max(x) - min(x)

condition = (video["new_ct"].dt.strftime("%Y-%m-%d %H:%M:%S") >= "2021-11-01 00:00:00") & (video["new_ct"].dt.strftime("%Y-%m-%d %H:%M:%S") <= "2021-11-01 15:00:00")
video.loc[condition, ["videoname", "viewcnt"]].groupby("videoname").agg(check)

           viewcnt
videoname
 공범 EP1      13298
 공범 EP2      10300
 공범 EP3       9927
 공범 EP4       9824
 공범 EP5      10824
 공범 EP6      14141
 공범 EP7      26949
 공범 EP8      89147

In [301]:
## 20. video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라

In [305]:
video.loc[video.duplicated(["videoname", "new_ct"]), ["videoname", "new_ct"]]

     videoname              new_ct
722     공범 EP1 2021-10-13 09:41:37
3927    공범 EP2 2021-10-13 09:41:37

### 21~30번 문제
- 데이터 출처 :https://www.kaggle.com/darinhawley/fifa-world-cup-goalscorers-19302018(참고, 데이터 수정)
- 데이터 설명 : 1930 ~2018년도 월드컵 출전선수 골기록
- data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv

In [1]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [2]:
## 21. 주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라

In [30]:
df.groupby("Country")["Goals"].sum().sort_values(ascending=False).head(5)

Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115
Name: Goals, dtype: int64

In [7]:
## 22. 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라

In [34]:
df.groupby("Country")["Player"].size().sort_values(ascending=False).head(5)

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
Name: Player, dtype: int64

In [35]:
## 23. Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라

In [40]:
df['yearList']=df["Years"].str.split('-')

def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
    return True

df['check'] =df['yearList'].apply(checkFour)
df.loc[df["check"]==False].shape[0]

45

In [41]:
## 24. Q3에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라 (아래 문제부터는 df2로 풀이하겠습니다)

In [47]:
df2 = df.loc[df["check"]==True].reset_index(drop=True)
df2.shape[0]

1250

In [48]:
## 25. 월드컵 출전횟수를 나타내는 ‘LenCup’ 컬럼을 추가하고 4회 출전한 선수의 숫자를 구하여라

In [58]:
def check_LenCup(x):
    if len(x) == 4:
        return True
    else:
        return False

df2["LenCup"]=df2["yearList"].apply(check_LenCup)
df2["LenCup"].sum()

16

In [59]:
## 26. Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라

In [71]:
def check_two(x):
    if len(x)==2:
        return True
    else:
        return False

df2.loc[df2["Country"]=="Yugoslavia", ["Player", "yearList"]]["yearList"].apply(check_two).sum()

7

In [72]:
## 27. 2002년도에 출전한 전체 선수는 몇명인가?

In [76]:
def in_2002(x):
    for year in x:
        if year == "2002":
            return True
    return False

df2["yearList"].apply(in_2002).sum()

156

In [74]:
## 28. 이름에 ‘carlos’ 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)

In [83]:
def check_carlos(x):
    for i in x:
        if i.upper() == "CARLOS":
            return True
    return False

df2["Player"].str.split(' ').apply(check_carlos).sum()

13

In [84]:
## 29. 월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?
### 아 `.map` 메쏘드를 쓸수도 있겠군 apply() 뿐 아니라.

In [92]:
df2.loc[df2["yearList"].map(len)==1].sort_values(by="Goals", ascending=False).head(1)["Player"].values[0]

'Just Fontaine'

In [93]:
## 30. 월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

In [101]:
df2.loc[(df2["yearList"].map(len)==1)].groupby("Country").size().sort_values(ascending=False).head(1).index[0]

'Brazil'

### 31~40번 문제
- 데이터 출처 :https://www.data.go.kr/data/15051872/fileData.do(참고, 데이터 수정)
- 데이터 설명 : 서울특별시_공공자전거 시간대별 이용정보
- data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv

In [17]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         대여일자  대여시간  대여소번호 대여구분코드 성별 연령대코드  이용건수    운동량   탄소량     이동거리  사용시간
0  2021-06-01     0   3541    정기권  F  ~10대     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    정기권  F  ~10대     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    정기권  F  ~10대     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    정기권  F  ~10대     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    정기권  F  ~10대     1  13.04  0.17   731.55     6

In [ ]:
## 31. 대여일자별 데이터의 수를 데이터프레임으로 출력하고, 가장 많은 데이터가 있는 날짜를 출력하라

In [32]:
df["대여일자2"]=pd.to_datetime(df["대여일자"])
print(df.groupby("대여일자2").size().sort_values(ascending=False).head(1).index[0])
df.groupby("대여일자2").size()

2021-06-04 00:00:00

대여일자2
2021-06-01    48081
2021-06-02    56100
2021-06-03    18985
2021-06-04    56788
2021-06-05    52730
2021-06-06    47787
2021-06-07    52623
2021-06-08    55623
2021-06-09    54507
2021-06-10    36992
2021-06-11    52089
2021-06-12    48569
2021-06-13    43131
2021-06-14    54945
dtype: int64

In [ ]:
## 32. 각 일자의 요일을 표기하고 (‘Monday’ ~’Sunday’) ‘day_name’컬럼을 추가하고 이를 이용하여 각 요일별 이용 횟수의 총합을 데이터 프레임으로 출력하라

In [42]:
df["day_name"] = df["대여일자2"].dt.day_name()
df.groupby("day_name")["이용건수"].sum().sort_values(ascending=False)

day_name
Wednesday    122653
Friday       120716
Monday       119271
Tuesday      114492
Saturday     110900
Sunday        99297
Thursday      60338
Name: 이용건수, dtype: int64

In [43]:
## 33. 각 요일별 가장 많이 이용한 대여소의 이용횟수와 대여소 번호를 데이터 프레임으로 출력하라

In [44]:
df.head()

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,대여일자2,weekname,day_name
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,2021-06-01,Tuesday,Tuesday
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,2021-06-01,Tuesday,Tuesday
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,2021-06-01,Tuesday,Tuesday
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,2021-06-01,Tuesday,Tuesday
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,2021-06-01,Tuesday,Tuesday

In [67]:
df.groupby(["day_name", "대여소번호"], as_index=False)["이용건수"].size().sort_values(by="size", ascending=False).drop_duplicates("day_name").reset_index(drop=True)

    day_name  대여소번호  size
0   Saturday    502   378
1     Sunday    502   372
2  Wednesday    502   282
3     Friday    502   277
4    Tuesday    502   267
5     Monday    502   242
6   Thursday   2715   137

In [68]:
## 34. 나이대별 대여구분 코드의 (일일권/전체횟수) 비율을 구한 후 가장 높은 비율을 가지는 나이대를 확인하라. 일일권의 경우 일일권 과 일일권(비회원)을 모두 포함하라

In [69]:
df.head()

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,대여일자2,weekname,day_name
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,2021-06-01,Tuesday,Tuesday
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,2021-06-01,Tuesday,Tuesday
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,2021-06-01,Tuesday,Tuesday
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,2021-06-01,Tuesday,Tuesday
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,2021-06-01,Tuesday,Tuesday

In [131]:
daily= df.loc[df["대여구분코드"].isin(['일일권', '일일권(비회원)']), "연령대코드"].value_counts().sort_index()
total = df["연령대코드"].value_counts().sort_index()

print(ratio.head(1).index[0])
ratio = (daily/total).sort_values(ascending=False)
ratio

~10대

~10대    0.312525
20대     0.239913
30대     0.166702
40대     0.110585
50대     0.065414
70대~    0.048962
60대     0.042462
Name: 연령대코드, dtype: float64

In [132]:
## 35. 연령대별 평균 이동거리를 구하여라

In [139]:
df.groupby("연령대코드").mean()[["이동거리"]]

              이동거리
연령대코드
20대    3211.890552
30대    3341.443859
40대    3514.857416
50대    3593.668100
60대    3538.145737
70대~   3085.039641
~10대   2634.426279

In [140]:
## 36. 연령대 코드가 20대인 데이터를 추출하고,이동거리값이 추출한 데이터의 이동거리값의 평균 이상인 데이터를 추출한다.최종 추출된 데이터를 대여일자, 대여소 번호 순서로 내림차순 정렬 후 1행부터 200행까지의 탄소량의 평균을 소숫점 3째 자리까지 구하여라

In [141]:
df.head()

,대여일자,대여시간,대여소번호,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,사용시간,대여일자2,weekname,day_name
0,2021-06-01,0,3541,정기권,F,~10대,1,0.00,0.00,0.00,8,2021-06-01,Tuesday,Tuesday
1,2021-06-01,0,765,정기권,F,~10대,1,27.21,0.35,1526.81,19,2021-06-01,Tuesday,Tuesday
2,2021-06-01,0,2637,정기권,F,~10대,1,41.40,0.37,1608.56,18,2021-06-01,Tuesday,Tuesday
3,2021-06-01,0,2919,정기권,F,~10대,1,0.00,0.00,0.00,75,2021-06-01,Tuesday,Tuesday
4,2021-06-01,0,549,정기권,F,~10대,1,13.04,0.17,731.55,6,2021-06-01,Tuesday,Tuesday

In [223]:
condition = (df["연령대코드"] == "20대") & (df["이동거리"] > df["이동거리"].mean())
condition2 = df["탄소량"]!=("\\N")
df["탄소량2"]=df.loc[condition & condition2, ["탄소량"]].astype("float")
df.loc[condition&condition2].sort_values(by=["대여일자2", "대여소번호"], ascending=False).head(200).mean()["탄소량2"].round(3)

/home/joker1251/anaconda3/envs/bigdata_cert/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  """

1.643

In [224]:
## 37. 6월 7일 ~10대의 “이용건수”의 중앙값은?

In [247]:
df.loc[(df["대여일자2"].dt.strftime("%m월 %d일") == "06월 07일"), ["연령대코드", "이용건수"]].groupby("연령대코드").median().loc["~10대"]

이용건수    1
Name: ~10대, dtype: int64

In [248]:
## 38. 평일 (월~금) 출근 시간대(오전 6,7,8시)의 대여소별 이용 횟수를 구해서 데이터 프레임 형태로 표현한 후 각 대여시간별 이용 횟수의 상위 3개 대여소와 이용횟수를 출력하라
### - 오 이건 어렵네. groupby를 여러번 써서 원하는 형태의 df가 나올수 있도록 가공, group object에 `head`등의 메쏘드를 사용하여서 정리할수도있군

In [287]:
condition1 =(df["day_name"] != "Saturday") & (df["day_name"] != "Sunday")
condition2 = ((df["대여시간"] == 6) | (df["대여시간"] == 7) | (df["대여시간"] == 8))

result = df.loc[condition1 & condition2].groupby(["대여시간", "대여소번호"]).size().to_frame("이용횟수")
result.sort_values(by=["대여시간", "이용횟수"], ascending=False).groupby("대여시간").head(3)

            이용횟수
대여시간 대여소번호
8    2701    119
     646     115
     1152     92
7    259     104
     230      77
     726      77
6    2744     45
     1125     40
     1028     36

In [ ]:
## 39. 이동거리의 평균 이상의 이동거리 값을 가지는 데이터를 추출하여 추출데이터의 이동거리의 표본표준편차 값을 구하여라

In [297]:

condition1 = df["이동거리"] >= df["이동거리"].mean()
df.loc[condition1, ["이동거리"]].std()

5092.139707505356

In [298]:
## 40. 남성(‘M’ or ‘m’)과 여성(‘F’ or ‘f’)의 이동거리값의 평균값을 구하여라

In [327]:

df['sex']=df['성별'].map(lambda x : '남' if x in ['M', 'm'] else '여')
result = df.groupby("sex")["이동거리"].mean().to_frame("이동거리평균")
result

          이동거리평균
sex
남    3209.110871
여    3468.575025

### 41~50번 문제
- nba 선수 능력치 데이터
- 데이터 출처 :https://www.kaggle.com/datasets/vivovinco/nba-player-stats(참고, 데이터 수정)
- Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv

In [329]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv",encoding='latin',sep=';')
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

In [330]:
## 41. Tm 컬럼은 각 팀의 이름을 의미한다. TOR팀의 평균나이를 소수 4째 자리까지 구하여라

In [346]:
df.loc[(df["Tm"] == "TOR"), "Age"].mean().round(4)

24.8696

In [ ]:
## 42. Pos 컬럼은 포지션을 의미한다. 전체 선수 중 최소나이대의 선수들을 필터하고 그들 중 가장 많은 포지션은 무엇인지 확인하라

In [352]:
df.sort_values(by="Age", ascending=True).drop_duplicates("Player")["Pos"].value_counts().sort_values(ascending=False).head(1).index[0]

'SG'

In [332]:
## 43. 선수들의 이름은 first_name+ 공백 + last_name으로 이루어져 있다. 가장 많은 first_name은 무엇이며 몇 회 발생하는지 확인하라

In [358]:
df["Player"].str.split(' ').apply(lambda x: x[0]).value_counts().sort_values(ascending=False).head(1)

Justin    14
Name: Player, dtype: int64

In [333]:
## 44. PTS컬럼은 경기당 평균득점수 이다. 각포지션별로 경기당 평균득점수의 평균을 구하여라

In [361]:
df.groupby("Pos")["PTS"].mean()

Pos
C         7.690769
C-PF     12.850000
PF        7.737500
PF-SF     8.500000
PG        8.325161
PG-SG    22.000000
SF        7.270253
SF-SG     8.660000
SG        7.810553
SG-PG     9.525000
SG-SF     7.360000
Name: PTS, dtype: float64

In [336]:
## 45. G컬럼은 참여한 경기의 숫자이다. 각 팀별로 가장 높은 경기참여 수를 가진 선수들의 경기 참여 숫자의 평균을 구하여라
### - `.groupby`메쏘드를 연속으로 2번써서 하는건 여전히 헷갈리네.

In [404]:
df.groupby(["Tm", "Player"]).sum().groupby("Tm").max("G")["G"].mean()

77.51612903225806

In [397]:
## 46. Tm의 값이 MIA이며 Pos는 C또는 PF인 선수의 MP값의 평균은?

In [407]:
df.loc[(df["Tm"]=="MIA") & ((df["Pos"]=="C") | (df["Pos"]=="PF")), "MP"].mean()

16.7875

In [338]:
## 47. 전체 데이터중 G의 평균값의 1.5배 이상인 데이터들만 추출했을때 3P값의 평균은?

In [411]:
df.loc[(df["G"] >= df["G"].mean()*1.5), "3P"].mean()

1.3853658536585365

In [340]:
## 48. Age의 평균 이상인 그룹과 평균 미만인 그룹간의 G값의 평균의 차이는?

In [412]:
condition1 = (df["Age"] >= df["Age"].mean())
condition2 = (df["Age"] < df["Age"].mean())

df.loc[condition1, "G"].mean() - df.loc[condition2, "G"].mean()

3.787674551781862

In [341]:
## 49. 평균나이가 가장 젊은 팀은 어디인가

In [413]:
df.groupby("Tm")["Age"].mean().sort_values(ascending=True).head(1)

Tm
MEM    23.782609
Name: Age, dtype: float64

In [342]:
## 50. Pos그룹별 평균 MP값을 구하여라

In [414]:
df.groupby("Pos")["MP"].mean()

Pos
C        16.990000
C-PF     25.350000
PF       17.937500
PF-SF    27.300000
PG       19.547742
PG-SG    37.200000
SF       17.514557
SF-SG    20.340000
SG       18.554271
SG-PG    22.950000
SG-SF    19.620000
Name: MP, dtype: float64

### 51~60번 문제
- 데이터 출처 :https://www.kaggle.com/unsdsn/world-happiness(참고, 데이터 수정)  
- 데이터 설명 : 전세계 행복도 지표 조사  
- data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv

In [1]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [ ]:
## 51. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라

In [13]:
df.loc[df["행복랭킹"]==10].groupby("년도")["점수"].mean().to_frame("행복점수 평균")
df.loc[df["행복랭킹"]==10]["점수"].mean()

7.259

In [2]:
## 52. 데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라

In [32]:
def in_fifty_rank(x):
    x=x.sort_values(by="행복랭킹")
    x=x.loc[x["행복랭킹"] <= 50]
    return x.mean()

df.groupby("년도").apply(lambda x: in_fifty_rank(x))[["점수"]]

           점수
년도
2018  6.64678
2019  6.67002

In [3]:
## 53. 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라

In [38]:
corr = df.loc[df["년도"] == 2018].corr()
corr["점수"]["부패에 대한인식"]

0.4052915227150998

In [4]:
## 54. 2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라

In [39]:
df.head(3)

   행복랭킹      나라명     점수  상대GDP  사회적지원  행복기대치  선택의 자유도    관대함  부패에 대한인식    년도
0     1  Finland  7.769  1.340  1.587  0.986    0.596  0.153     0.393  2019
1     2  Denmark  7.600  1.383  1.573  0.996    0.592  0.252     0.410  2019
2     3   Norway  7.554  1.488  1.582  1.028    0.603  0.271     0.341  2019

In [57]:
eight = df.loc[df["년도"] == 2018][["나라명", "행복랭킹"]]
nine = df.loc[df["년도"] == 2019][["나라명", "행복랭킹"]]
merge = pd.merge(eight,nine, on="나라명")
((merge["행복랭킹_x"] - merge["행복랭킹_y"]) == 0).sum()

15

In [5]:
## 55. 2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1,v2,corr으로 표시하라

In [103]:
corr = df[df["년도"]==2019].corr().unstack().reset_index().dropna()
corr=corr.sort_values(by=0, ascending=False)[corr[0] != 1].drop_duplicates(0)
corr.loc[:, 0] = corr.loc[:,0].apply(abs)
corr.rename(columns = {"level_0": "v1", "level_1": "v2", 0: "corr"}).drop_duplicates(["v1", "v2"]).head(5).reset_index(drop=True)

/home/joker1251/anaconda3/envs/bigdata_cert/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

      v1     v2      corr
0  행복기대치  상대GDP  0.835462
1     점수  상대GDP  0.793883
2  행복기대치     점수  0.779883
3     점수  사회적지원  0.777058
4  상대GDP  사회적지원  0.754906

In [6]:
## 56. 각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라

In [138]:
def lower_five(x):
    x = x.sort_values(by="점수", ascending=True)
    x = x.head(5)["점수"].mean()
    return x

df.groupby(["년도"]).apply(lower_five)

년도
2018    3.1800
2019    3.1408
dtype: float64

In [7]:
## 57. 2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라

In [182]:

a = df.loc[df["년도"]==2019]

condition1 = (a["상대GDP"] >= a["상대GDP"].mean())
condition2 = (a["상대GDP"] <= a["상대GDP"].mean())

a.loc[condition1, "점수"].mean()-a.loc[condition2, "점수"].mean()

1.390483957219251

In [8]:
## 58. 각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라

In [183]:
df.head(3)

   행복랭킹      나라명     점수  상대GDP  사회적지원  행복기대치  선택의 자유도    관대함  부패에 대한인식    년도
0     1  Finland  7.769  1.340  1.587  0.986    0.596  0.153     0.393  2019
1     2  Denmark  7.600  1.383  1.573  0.996    0.592  0.252     0.410  2019
2     3   Norway  7.554  1.488  1.582  1.028    0.603  0.271     0.341  2019

In [8]:
def custom(x):
    x=x.sort_values(by="부패에 대한인식", ascending=False).head(20)
    return x.mean()["부패에 대한인식"]

df.groupby("년도").apply(custom).to_frame("부패인식")

     행복랭킹                       나라명     점수  상대GDP  사회적지원  행복기대치  선택의 자유도  \
156     1                   Finland  7.632  1.305  1.592  0.874    0.681
157     2                    Norway  7.594  1.456  1.582  0.861    0.686
158     3                   Denmark  7.555  1.351  1.590  0.868    0.683
159     4                   Iceland  7.495  1.343  1.644  0.914    0.677
160     5               Switzerland  7.487  1.420  1.549  0.927    0.660
..    ...                       ...    ...    ...    ...    ...      ...
307   152                     Yemen  3.355  0.442  1.073  0.343    0.244
308   153                  Tanzania  3.303  0.455  0.991  0.381    0.481
309   154               South Sudan  3.254  0.337  0.608  0.177    0.112
310   155  Central African Republic  3.083  0.024  0.000  0.010    0.305
311   156                   Burundi  2.905  0.091  0.627  0.145    0.065

       관대함  부패에 대한인식    년도
156  0.202     0.393  2018
157  0.286     0.340  2018
158  0.284     0.408  2018
159  0.353     0.138  2018
160  0.256     0.357  2018
..     ...       ...   ...
307  0.083     0.064  2018
308  0.270     0.097  2018
309  0.224     0.106  2018
310  0.218     0.038  2018
311  0.149     0.076  2018

[156 rows x 10 columns]
     행복랭킹                       나라명     점수  상대GDP  사회적지원  행복기대치  선택의 자유도  \
0       1                   Finland  7.769  1.340  1.587  0.986    0.596
1       2                   Denmark  7.600  1.383  1.573  0.996    0.592
2       3                    Norway  7.554  1.488  1.582  1.028    0.603
3       4                   Iceland  7.494  1.380  1.624  1.026    0.591
4       5               Netherlands  7.488  1.396  1.522  0.999    0.557
..    ...                       ...    ...    ...    ...    ...      ...
151   152                    Rwanda  3.334  0.359  0.711  0.614    0.555
152   153                  Tanzania  3.231  0.476  0.885  0.499    0.417
153   154               Afghanistan  3.203  0.350  0.517  0.361    0.000
154   155  Central African Republic  3.083  0.026  0.000  0.105    0.225
155   156               South Sudan  2.853  0.306  0.575  0.295    0.010

       관대함  부패에 대한인식    년도
0    0.153     0.393  2019
1    0.252     0.410  2019
2    0.271     0.341  2019
3    0.354     0.118  2019
4    0.322     0.298  2019
..     ...       ...   ...
151  0.217     0.411  2019
152  0.276     0.147  2019
153  0.158     0.025  2019
154  0.235     0.035  2019
155  0.202     0.091  2019

[156 rows x 10 columns]

        부패인식
년도
2018  0.3267
2019  0.3201

In [9]:
## 59. 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라

In [210]:
def custom(x):
    x1 = x.loc[(x["년도"] == 2018) & (x["행복랭킹"] <= 50)]
    x2 = x.loc[(x["년도"] == 2019) & (x["행복랭킹"] >= 50)]


    if (not x1.empty) & (not x2.empty):
        return 1
    else:
        return 0

df.groupby("나라명").apply(custom).sum()

4

In [10]:
## 60. 2018년,2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?
# - 아래 코드는 맞는 답은 아님

In [250]:
def custom(x):
    x=x.reset_index(drop=True)
    if len(x)==2:
        return x["점수"][0] - x["점수"][1]
    else:
        return 0

df.groupby(["나라명"]).apply(custom).sort_values(ascending=False).head(1)

나라명
Burundi    0.87
dtype: float64

In [211]:
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [ ]:
#### .fillna(backfill, ffill) 이런거 써서 결측치 채우는거 연습해보기 (6/19)

In [33]:
import numpy as np
df.head(15)

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,None,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,NaN,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343,2019
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373,2019
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380,2019
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308,2019
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226,2019
10,11,Australia,7.228,1.372,1.548,1.036,0.557,0.332,0.290,2019
11,12,Costa Rica,7.167,1.034,1.441,0.963,0.558,0.144,0.093,2019
12,13,Israel,7.139,1.276,1.455,1.029,0.371,0.261,0.082,2019
13,14,Luxembourg,7.090,1.609,1.479,1.012,0.526,0.194,0.316,2019
14,15,United Kingdom,7.054,1.333,1.538,0.996,0.450,0.348,0.278,2019

In [53]:
df.loc[df["나라명"]=="", "나라명"]="Norway"
df.loc[[5,10,15,19],"관대함"]=np.NaN

In [69]:
df["나라명"].fillna(method="bfill")

0                        Norway
1                        Norway
2                        Norway
3                       Iceland
4                   Netherlands
                 ...
307                       Yemen
308                    Tanzania
309                 South Sudan
310    Central African Republic
311                     Burundi
Name: 나라명, Length: 312, dtype: object

In [70]:
df["나라명"].fillna("ggg")

0                           ggg
1                           ggg
2                        Norway
3                       Iceland
4                   Netherlands
                 ...
307                       Yemen
308                    Tanzania
309                 South Sudan
310    Central African Republic
311                     Burundi
Name: 나라명, Length: 312, dtype: object

In [57]:
df["관대함"].head(20)

0       NaN
1       NaN
2       NaN
3       NaN
4     0.322
5       NaN
6     0.267
7     0.330
8     0.285
9     0.244
10      NaN
11    0.144
12    0.261
13    0.194
14    0.348
15      NaN
16    0.261
17    0.160
18    0.280
19      NaN
Name: 관대함, dtype: float64

In [67]:
df["관대함"].interpolate(method="values", limit_direction="forward").head(20)

0        NaN
1        NaN
2        NaN
3        NaN
4     0.3220
5     0.2945
6     0.2670
7     0.3300
8     0.2850
9     0.2440
10    0.1940
11    0.1440
12    0.2610
13    0.1940
14    0.3480
15    0.3045
16    0.2610
17    0.1600
18    0.2800
19    0.2710
Name: 관대함, dtype: float64

In [68]:
df["관대함"].interpolate(method="values", limit_direction="backward").head(20)

0     0.3220
1     0.3220
2     0.3220
3     0.3220
4     0.3220
5     0.2945
6     0.2670
7     0.3300
8     0.2850
9     0.2440
10    0.1940
11    0.1440
12    0.2610
13    0.1940
14    0.3480
15    0.3045
16    0.2610
17    0.1600
18    0.2800
19    0.2710
Name: 관대함, dtype: float64

In [2]:
df.head(3)

   행복랭킹      나라명     점수  상대GDP  사회적지원  행복기대치  선택의 자유도    관대함  부패에 대한인식    년도
0     1  Finland  7.769  1.340  1.587  0.986    0.596  0.153     0.393  2019
1     2  Denmark  7.600  1.383  1.573  0.996    0.592  0.252     0.410  2019
2     3   Norway  7.554  1.488  1.582  1.028    0.603  0.271     0.341  2019

In [33]:
df["점수"].apply(int)

0      7
1      7
2      7
3      7
4      7
      ..
307    3
308    3
309    3
310    3
311    2
Name: 점수, Length: 312, dtype: int64

In [26]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,행복랭킹,나라명,점수,상대GDP,사회적지원,행복기대치,선택의 자유도,관대함,부패에 대한인식,년도
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [8]:
df.loc[[0,1,2,3,4,10], "행복랭킹"] = None

In [12]:
df.dropna(axis=0, inplace=True)

In [14]:
from scipy.stats import skew

In [19]:
ne_columns = df.select_dtypes(exclude='object').columns

In [20]:
ne_columns

Index(['점수', '상대GDP', '사회적지원', '행복기대치', '선택의 자유도', '관대함', '부패에 대한인식', '년도'], dtype='object')

In [27]:
df[ne_columns]

        점수  상대GDP  사회적지원  행복기대치  선택의 자유도    관대함  부패에 대한인식    년도
0    7.769  1.340  1.587  0.986    0.596  0.153     0.393  2019
1    7.600  1.383  1.573  0.996    0.592  0.252     0.410  2019
2    7.554  1.488  1.582  1.028    0.603  0.271     0.341  2019
3    7.494  1.380  1.624  1.026    0.591  0.354     0.118  2019
4    7.488  1.396  1.522  0.999    0.557  0.322     0.298  2019
..     ...    ...    ...    ...      ...    ...       ...   ...
307  3.355  0.442  1.073  0.343    0.244  0.083     0.064  2018
308  3.303  0.455  0.991  0.381    0.481  0.270     0.097  2018
309  3.254  0.337  0.608  0.177    0.112  0.224     0.106  2018
310  3.083  0.024  0.000  0.010    0.305  0.218     0.038  2018
311  2.905  0.091  0.627  0.145    0.065  0.149     0.076  2018

[312 rows x 8 columns]

In [21]:
df[ne_columns].apply(skew)

점수         -0.016613
상대GDP      -0.357730
사회적지원      -1.113100
행복기대치      -0.522146
선택의 자유도    -0.611675
관대함         0.843005
부패에 대한인식    1.734888
년도          0.032791
dtype: float64

In [24]:
import numpy as np
df[ne_columns]=df[ne_columns].apply(lambda x: np.log1p(x) if abs(skew(x)) > 0.3 else x)

In [39]:
df.loc[[1, 5,6,7], "점수"] = -100

In [40]:
df["점수"].apply(np.log1p).head(20)

0     2.171223
1          NaN
2     2.146399
3     2.139360
4     2.138653
5          NaN
6          NaN
7          NaN
8     2.113601
9     2.109728
10    2.107543
11    2.100102
12    2.096667
13    2.090629
14    2.086169
15    2.082063
16    2.077565
17    2.069770
18    2.065850
19    2.060768
Name: 점수, dtype: float64